---
import PlaygroundLoader from "@/playground/PlaygroundLoader";
import "@/styles/playground/index.scss";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
  frontmatter={{
    title: "Playground",
    description: "Biome's interactive playground",
    template: "splash",
    editUrl: false,
  }}
>
  <div id="root" class="not-content">
    <PlaygroundLoader client:only />
  </div>
</StarlightPage>

<style>
  :global(div.content-panel) {
    padding: 0;
  }
  :global(.content-panel:nth-of-type(1)) {
    display: none;
  }
  :global(div.sl-container) {
    margin: 0;
    max-width: none;
  }
  :global(div.sl-container footer) {
    display: none;
  }
  :global(.main-pane main) {
    padding-bottom: 0;
    height: 100%;
  }
</style>

<script>
  import type { ThemeChanged } from "@/frontend-scripts/util";

  //May this change when we have our own theme switcher component
  const themeSelect = document.querySelector("starlight-theme-select select");

  themeSelect?.addEventListener("change", (event) => {
    window.dispatchEvent(
      new CustomEvent<ThemeChanged>("colorschemechange", {
        detail: { theme: (event.target as HTMLSelectElement)?.value },
      })
    );
  });
</script>
