a { grid-template-areas: "a a a"
                         "b b b"; }
a { grid-template-areas: "a a a"
                         "a a a"
                         "b b b"
                         "b b b"; }
a { grid-template-areas: "o o o o"
                         "p p p p"
                         "q q q q"; }
a { grid-template-areas: "s s s"
                         "s s s"
                         "v v v"
                         "u u u"; }
a { grid-template-areas: "s s s"
                         "a a a"
                         "v v v"
                         "u u u"
                         "a a a"; }

/* Do not emit for non grid area properties */
#carbonads {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

&:before {
    @apply bg-base-content absolute bottom-3 start-0 top-3 w-px opacity-10;
    content: "";
}
