.empty {  }
.oneDeclaration { color     : blue; }
.multipleDeclarations { color     : blue   ;  background-color  : red; }

.newline {
    color: blue; background-color: red;
}
.no-trailing-semi {
    color: blue
}

.empty-line {
    color: blue;

    background-color: red;
}
.grouping {
color: blue   ;color: green    ;
    color  : red ;


        background-color:      red;
    font-size:   12px;


    font-weight   :   700;
}

a {
	--bs-font-monospace: sfmono-regular /  menlo;
	--bs-font-monospace: sfmono-regular , menlo , monaco , consolas ,
	'Liberation Mono' , 'Courier New' , monospace;
}

a {
    color: red;;;;
}