div {
    color: rgba(255, 255, 255, 1);
    color:   rgba   (
        0,
        1,
        255,
        1
    );
    color: arbitrary(really long list, of complex parameter values, each one on its own line);
    color: more-arbitrary(just, has, lots, of, individual, parameters, breaking, over, lines);
    color: arbitrary(one really long parameter value that itself will break over multiple lines and fill together);
}