:root {
	--popover-shadow:
		0px 2px 4px 0px var(--special-shadow-blue90-6, rgba(0, 0, 0, 0.06)),
		0px 8px 16px 0px var(--special-shadow-blue90-6, rgba(0, 0, 0, 0.06));
	--popover-shadow-inline: 0px 2px 4px 0px var(--special-shadow-blue90-6, rgba(0, 0, 0, 0.06)), 0px 8px 16px 0px var(--special-shadow-blue90-6, rgba(0, 0, 0, 0.06));
}


