[package]
name                 = "biome_formatter"
version              = "0.5.7"
authors.workspace    = true
edition.workspace    = true
description          = "Biome's formatter shared infrastructure"
homepage.workspace   = true
repository.workspace = true
license.workspace    = true
keywords.workspace   = true
categories.workspace = true
publish              = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# cargo-workspaces metadata
[package.metadata.workspaces]
independent = true

[dependencies]
biome_console            = { workspace = true }
biome_deserialize        = { workspace = true }
biome_deserialize_macros = { workspace = true }
biome_diagnostics        = { workspace = true }
biome_rowan              = { workspace = true }
biome_string_case        = { workspace = true }
camino                   = { workspace = true }
cfg-if                   = { workspace = true }
countme                  = { workspace = true, optional = true }
drop_bomb                = "0.1.5"
indexmap                 = { workspace = true }
rustc-hash               = { workspace = true }
schemars                 = { workspace = true, optional = true }
serde                    = { workspace = true, features = ["derive"], optional = true }
unicode-width            = { workspace = true }

[dev-dependencies]
biome_js_parser = { path = "../biome_js_parser" }
biome_js_syntax = { path = "../biome_js_syntax" }
insta           = { workspace = true }

[features]
countme = ["dep:countme"]
schema  = ["dep:schemars", "serde"]
serde   = ["biome_deserialize/serde", "biome_rowan/serde", "dep:serde"]

[lints]
workspace = true
