[package]
authors.workspace    = true
categories.workspace = true
description          = "Biome's formatter shared infrastructure"
edition.workspace    = true
homepage.workspace   = true
keywords.workspace   = true
license.workspace    = true
name                 = "biome_formatter"
repository.workspace = true
version              = "0.0.1"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
biome_console     = { workspace = true }
biome_diagnostics = { workspace = true }
biome_rowan       = { workspace = true }
biome_text_size   = { workspace = true }
cfg-if            = "1.0.0"
countme           = { workspace = true }
drop_bomb         = "0.1.5"
indexmap          = { workspace = true }
rustc-hash        = { workspace = true }
schemars          = { workspace = true, optional = true }
serde             = { workspace = true, features = ["derive"], optional = true }
tracing           = { workspace = true }
unicode-width     = "0.1.9"
static_assertions = "1.1"

[dev-dependencies]
biome_js_parser = { workspace = true }
biome_js_syntax = { workspace = true }
insta           = { workspace = true }

[features]
serde = ["dep:serde", "schemars", "biome_rowan/serde"]

# cargo-workspaces metadata
[package.metadata.workspaces]
independent = true
