.prog-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
}

.label {
  margin-top: 20px;
  width: 50px;
  margin-left: 10px;
  font-size: 15px;
}

.progress-bar-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 350px;
  height: 20px;
  background: var(--sl-perf-border);
  position: relative;
  overflow: hidden;
}

.bar {
  height: 100%;
  transition: width 0.1s ease-in;
  background-color: #60a5fa;
}

.time {
  position: absolute;
  right: 2%;
  top: 0%;
  font-size: 12px;
}

@media only screen and (max-width: 1080px) {
  .progress-bar-container {
    width: 305px;
  }
}

@media only screen and (max-width: 970px) {
  .progress-bar-container {
    width: 285px;
  }
}

@media only screen and (max-width: 960px) {
  .progress-bar-container {
    width: 400px;
  }
}