div {
    all: InItial;
    all  : inherIT;
    all
    :
    revert-layer
    ;

    all  :   unknown-value  ;
    all  : a,
    value list ;
}

:root {
	--bs-gradient: linear-gradient(
		180deg,
		180deg,
		180deg,
		180deg,
		180deg,
		180deg,
		180deg
	);
}
