div {
    all: InItial;
    all  : inherIT;
    all
    :
    revert-layer
    ;

    all  :   unknown-value  ;
    all  : a,
    value list ;
}

:root {
	--bs-gradient: linear-gradient(
		180deg,
		180deg,
		180deg,
		180deg,
		180deg,
		180deg,
		180deg
	);
}

.variable {
	--myVariableName: 10px;
	margin: var(--myVariableName);
}

.function {
	transform: translateX(10px) translateY(10px);
}
