.chat-image {
	grid-row: span 2 / span 2;
	align-self: flex-end
}


#grid {
	display: grid;
	grid-template-columns: [first nav-start] 150px [main-start] 1fr [last];
	grid-template-rows: [first header-start] 50px [main-start] 1fr [footer-start] 50px [last];
}

#grid {
  grid-template-columns:
		1fr /* first comment */
		auto /* second comment */
		2fr /* third comment */  
}

div {
	grid-template-columns:
		1fr /* first comment */
		auto /* second comment */
		40px /* third comment */
		2fr /* fourth comment */
}