html {
	font-family: system-ui, -apple-system;
}

body {
	font-family: sans-serif, serif, system-ui;
}

div {
	font-family: system-ui;
}

div {
	box-shadow: 10px 10px 10px 10px rgb(10 18 30 / 12%), 12px 10px 10px 10px rgb(10 18 30 / 16%);
}
