@document url("https://www.example.com/") {
	h1 {
		color: green;
	}
}

@document url("http://www.w3.org/"), url-prefix("http://www.w3.org/Style/"), domain("mozilla.org"), media-document("video"), regexp("https:.*") {
	body {
		color: purple;
		background: yellow;
	}
}

@document url(https://www.example.com/) {}
@-moz-document url("https://www.example.com/") {}
@-moz-document/* near */ /* filter */ url("example.com/{") /* a */ {}

@document url("https://www.example.com/") {
	@media screen and (min-width: 900px) {
		article {
			padding: 1rem 3rem;
		}
	}
}

@-moz-document url-prefix() {}

@-moz-document url-prefix("https://www.example.com/") {}

@-moz-document url-prefix() {
	body {
		background-color: green;
	}
}

@-moz-document url-prefix("https://www.example.com/") {
	body {
		background-color: green;
	}
}

@-moz-document url-prefix(https://example.com) {
	body {
		background-color: green;
	}
}

@-moz-document url(http://www.exmaple.org/), url-prefix(https://www.example.com/test), domain(example.com) {
	body {
		background-color: green;
	}
}

@-moz-document url(http://www.exmaple.org/), url-prefix(https: //www.example.com/test), domain(example.com), media-document(video) {
	body {
		background-color: green;
	}
}
