@starting-style {
	h1 {
		background-color: transparent;
	}

	@layer foo {
		@starting-style {
			background-color: transparent;
		}

		div {
			height: 100px;
		}
	}
}


@layer my-demo-layer {
	@starting-style {
		div.showing {
			background-color: red;
		}
	}
}
