@container name  (width <= 500px) {  }
@container name  (width <= 500px) or (width <= 500px) or (width <= 500px) or (width <= 500px)  {  }
@container name  (width <= 500px) and (width <= 500px) and (width <= 500px) and (width <= 500px)  {  }
@container name  (width <= 500px) and ((width >= 600px) or (inline-width >= 300em)) {  }
@container name  (width <= 500px) and ((width >= 600px) or (not (inline-width >= 300em))) {  }
@container name  (width <= 500px) and ((width >= 600px) or (not (inline-width >= 300em))) and (width <= 500px) {  }
@container name not ((width <= 500px) and (width >= 600px)) {  }
@container name style(not (--a: blue)) {  }
@container style(--accent-color: blue) {}
@container name style((--a: blue) and (--b: red)) {  }
@container name style((--a: blue) and ((--b: red) or (--c: green))) {  }
@container name style((not (--b: red)) or (--c: green)) {  }
@container name style((not (--b: red)) or (not (--c: green))) {  }
@container name style((not (--b: red)) or ((not (--c: green)) and (background: red))) {  }
@container name style(not (not (--b: red))) {  }
@container name (width <= 500px) and  style((not (--b: red)) or ((not (--c: green)) and (background: red))) {  }
@container name  (width <= 500px)  {
	#inner {
		background-color: skyblue;
	}
	div {
		background-color: skyblue;
	}
}
