[package]
name                 = "biome_suppression"
version              = "0.5.7"
authors.workspace    = true
edition.workspace    = true
description          = "Utilities to suppress diagnostics"
homepage.workspace   = true
repository.workspace = true
license.workspace    = true
keywords.workspace   = true
categories.workspace = true
publish              = true

[dependencies]
biome_console     = { workspace = true }
biome_diagnostics = { workspace = true }
biome_rowan       = { workspace = true }

[lints]
workspace = true
