/* should not generate diagnostics */
.meow :global(.global) {
	color: blue;
}

.foo :local(.bar) {
	color: red;
}

:local(.component) {
	margin: 0;
}

.parent :local(.child):hover {
	background: blue;
}
