/website/src/content/docs/ja/ @biomejs/japanese-translation-reviewers
/website/.textlintrc.json @biomejs/japanese-translation-reviewers
/website/prh.yml @biomejs/japanese-translation-reviewers
/.github/workflows/ja-translation.yaml @biomejs/japanese-translation-reviewers
