* text=auto eol=lf
crates/biome_unicode_table/src/tables.rs linguist-generated=true text=auto eol=lf
**/generated/* linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/analyzers.rs linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/assists.rs linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/semantic_analyzers.rs linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/analyzers/*.rs linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/assists/*.rs linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/semantic_analyzers/*.rs linguist-generated=true text=auto eol=lf
crates/biome_js_analyze/src/registry.rs linguist-generated=true text=auto eol=lf
crates/biome_service/src/configuration/linter/rules.rs linguist-generated=true text=auto eol=lf
packages/@biomejs/backend-jsonrpc/src/workspace.ts linguist-generated=true text=auto eol=lf
website/src/pages/lint/rules/**/*.md linguist-generated=true text=auto eol=lf
website/src/components/generated/.astro linguist-generated=true text=auto eol=lf
packages/@biomejs/biome/configuration_schema.json linguist-generated=true text=auto eol=lf
crates/biome_service/src/configuration/parse/json/rules.rs linguist-generated=true text=auto eol=lf
crates/biome_js_formatter/tests/**/*.ts.prettier-snap linguist-language=TypeScript
crates/biome_js_formatter/tests/**/*.js.prettier-snap linguist-language=JavaScript
crates/biome_js_formatter/tests/**/*.ts.snap linguist-language=Markdown
crates/biome_js_formatter/tests/**/*.js.snap linguist-language=Markdown
crates/biome_cli/tests/**/*.snap linguist-language=Markdown
crates/biome_js_analyze/tests/specs/**/*.snap linguist-language=Markdown
crates/biome_css_formatter/tests/**/*.css.prettier-snap linguist-language=CSS
crates/biome_css_formatter/tests/**/*.css.snap linguist-language=Markdown
