.DS_Store
Profile-*.json
# Editor configuration
.vscode/*
.idea
.vs
# Release artifacts
**/target
# Ignore test files that contributors could create locally
**/test.*
!e2e-tests/**/test.*
# Ignore third-party files
**/node_modules
**/dist
**/build
.pnpm-debug.log
.vercel

# https://github.com/nnethercote/dhat-rs output file
dhat-heap.json

/crates/biome_css_formatter/report.*
/crates/biome_graphql_formatter/report.*
/crates/biome_js_formatter/report.*
/crates/biome_json_formatter/report.*
/crates/biome_json_formatter/report_incompatible.*

# don't ignore any files inside prettier test specs
!/crates/biome_js_formatter/tests/specs/prettier/**/*
!/crates/biome_json_formatter/tests/specs/prettier/**/*
!/crates/biome_css_formatter/tests/specs/prettier/**/*
!/crates/biome_graphql_formatter/tests/specs/prettier/**/*
