[workspace]
# Use the newer version of the cargo resolver
# https://doc.rust-lang.org/cargo/reference/resolver.html#resolver-versions
members = [
  "crates/*",
  "xtask/bench",
  "xtask/codegen",
  "xtask/coverage",
  "xtask/lintdoc",
  "xtask/libs_bench",
  "xtask/contributors",
]
resolver = "2"

[workspace.package]
authors    = ["Biome Developers and Contributors"]
edition    = "2021"
homepage   = "https://biomejs.dev/"
license    = "MIT"
repository = "https://github.com/biomejs/biome"

[profile.release-with-debug]
debug    = true
inherits = "release"

[workspace.dependencies]
# Internal crates
biome_analyze                = { path = "./crates/biome_analyze" }
biome_aria                   = { path = "./crates/biome_aria" }
biome_aria_metadata          = { path = "./crates/biome_aria_metadata" }
biome_cli                    = { path = "./crates/biome_cli" }
biome_console                = { version = "0.0.1", path = "./crates/biome_console" }
biome_control_flow           = { path = "./crates/biome_control_flow" }
biome_css_factory            = { path = "./crates/biome_css_factory" }
biome_css_parser             = { path = "./crates/biome_css_parser" }
biome_css_syntax             = { path = "./crates/biome_css_syntax" }
biome_deserialize            = { version = "0.2.0", path = "./crates/biome_deserialize" }
biome_diagnostics            = { version = "0.2.0", path = "./crates/biome_diagnostics" }
biome_diagnostics_categories = { version = "0.2.0", path = "./crates/biome_diagnostics_categories" }
biome_diagnostics_macros     = { version = "0.0.1", path = "./crates/biome_diagnostics_macros" }
biome_flags                  = { path = "./crates/biome_flags" }
biome_formatter              = { version = "0.1.0", path = "./crates/biome_formatter" }
biome_formatter_test         = { path = "./crates/biome_formatter_test" }
biome_fs                     = { path = "./crates/biome_fs" }
biome_js_analyze             = { path = "./crates/biome_js_analyze" }
biome_js_factory             = { version = "0.2.0", path = "./crates/biome_js_factory" }
biome_js_formatter           = { path = "./crates/biome_js_formatter" }
biome_js_parser              = { path = "./crates/biome_js_parser" }
biome_js_semantic            = { path = "./crates/biome_js_semantic" }
biome_js_syntax              = { version = "0.2.0", path = "./crates/biome_js_syntax" }
biome_js_unicode_table       = { version = "0.0.1", path = "./crates/biome_js_unicode_table" }
biome_json_analyze           = { path = "./crates/biome_json_analyze" }
biome_json_factory           = { version = "0.2.0", path = "./crates/biome_json_factory" }
biome_json_formatter         = { path = "./crates/biome_json_formatter" }
biome_json_parser            = { path = "./crates/biome_json_parser" }
biome_json_syntax            = { version = "0.2.0", path = "./crates/biome_json_syntax" }
biome_lsp                    = { path = "./crates/biome_lsp" }
biome_markup                 = { version = "0.0.1", path = "./crates/biome_markup" }
biome_migrate                = { path = "./crates/biome_migrate" }
biome_parser                 = { version = "0.2.0", path = "./crates/biome_parser" }
biome_rowan                  = { version = "0.2.0", path = "./crates/biome_rowan" }
biome_service                = { path = "./crates/biome_service" }
biome_suppression            = { version = "0.2.0", path = "./crates/biome_suppression" }
biome_test_utils             = { path = "./crates/biome_test_utils" }
biome_text_edit              = { version = "0.0.1", path = "./crates/biome_text_edit" }
biome_text_size              = { version = "0.0.1", path = "./crates/biome_text_size" }
tests_macros                 = { path = "./crates/tests_macros" }

# Crates needed in the workspace
atty              = "0.2.14"
bitflags          = "2.3.1"
bpaf              = { version = "0.9.5", features = ["derive"] }
countme           = "3.0.1"
dashmap           = "5.4.0"
indexmap          = "1.9.3"
insta             = "1.29.0"
lazy_static       = "1.4.0"
quickcheck        = "1.0.3"
quickcheck_macros = "1.0.0"
quote             = { version = "1.0.28" }
rustc-hash        = "1.1.0"
schemars          = { version = "0.8.12" }
serde             = { version = "1.0.163", features = ["derive"], default-features = false }
serde_json        = "1.0.96"
smallvec          = { version = "1.10.0", features = ["union", "const_new"] }
tracing           = { version = "0.1.37", default-features = false, features = ["std"] }
# pinning to version 1.18 to avoid multiple versions of windows-sys as dependency
tokio = { version = "~1.18.5" }


[profile.dev.package.biome_wasm]
debug     = true
opt-level = "s"

[profile.test.package.biome_wasm]
debug     = true
opt-level = "s"

[profile.release.package.biome_wasm]
debug     = false
opt-level = 3
