## npm packages
[packages.cli]
changelog = "CHANGELOG.md"
versioned_files = [
  "packages/@biomejs/biome/package.json",
  # Platform binaries
  "packages/@biomejs/cli-darwin-arm64/package.json",
  "packages/@biomejs/cli-darwin-x64/package.json",
  "packages/@biomejs/cli-linux-arm64/package.json",
  "packages/@biomejs/cli-linux-arm64-musl/package.json",
  "packages/@biomejs/cli-linux-x64/package.json",
  "packages/@biomejs/cli-linux-x64-musl/package.json",
  "packages/@biomejs/cli-win32-arm64/package.json",
  "packages/@biomejs/cli-win32-x64/package.json",
  "packages/@biomejs/cli-win32-x64/package.json",
  # WASM
  "packages/@biomejs/wasm-web/package.json",
  "packages/@biomejs/wasm-bundler/package.json",
  "packages/@biomejs/wasm-nodejs/package.json",
  "crates/biome_wasm/Cargo.toml",
  # JSON RPC
  "packages/@biomejs/backend-jsonrpc/package.json",
]


# Special crate. This is the main binary that we are going to release.
[packages.biome_cli]
versioned_files = ["crates/biome_cli/Cargo.toml"]
# Artifact names
[[packages.biome_cli.assets]]
name = "biome-win32-x64.tgz"
path = "dist/biome-win32-x64.tgz"
[[packages.biome_cli.assets]]
name = "biome-win32-arm64.tgz"
path = "dist/biome-win32-arm64.tgz"
[[packages.biome_cli.assets]]
name = "biome-linux-x64.tgz"
path = "dist/biome-linux-x64.tgz"
[[packages.biome_cli.assets]]
name = "biome-linux-arm64.tgz"
path = "dist/biome-linux-arm64.tgz"
[[packages.biome_cli.assets]]
name = "biome-linux-x64-musl.tgz"
path = "dist/biome-linux-x64-musl.tgz"
[[packages.biome_cli.assets]]
name = "biome-linux-arm64-musl.tgz"
path = "dist/biome-linux-arm64-musl.tgz"
[[packages.biome_cli.assets]]
name = "biome-darwin-x64.tgz"
path = "dist/biome-darwin-x64.tgz"
[[packages.biome_cli.assets]]
name = "biome-darwin-arm64.tgz"
path = "dist/biome-darwin-arm64.tgz"

## Rust crates. DO NOT CHANGE!
[packages.biome_analyze]
changelog       = "crates/biome_analyze/CHANGELOG.md"
versioned_files = ["crates/biome_analyze/Cargo.toml"]
[packages.biome_aria]
changelog       = "crates/biome_aria/CHANGELOG.md"
versioned_files = ["crates/biome_aria/Cargo.toml"]
[packages.biome_aria_metadata]
changelog       = "crates/biome_aria_metadata/CHANGELOG.md"
versioned_files = ["crates/biome_aria_metadata/Cargo.toml"]
[packages.biome_console]
changelog       = "crates/biome_console/CHANGELOG.md"
versioned_files = ["crates/biome_console/Cargo.toml"]
[packages.biome_control_flow]
changelog       = "crates/biome_control_flow/CHANGELOG.md"
versioned_files = ["crates/biome_control_flow/Cargo.toml"]
[packages.biome_css_factory]
changelog       = "crates/biome_css_factory/CHANGELOG.md"
versioned_files = ["crates/biome_css_factory/Cargo.toml"]
[packages.biome_css_formatter]
changelog       = "crates/biome_css_formatter/CHANGELOG.md"
versioned_files = ["crates/biome_css_formatter/Cargo.toml"]
[packages.biome_css_parser]
changelog       = "crates/biome_css_parser/CHANGELOG.md"
versioned_files = ["crates/biome_css_parser/Cargo.toml"]
[packages.biome_css_syntax]
changelog       = "crates/biome_css_syntax/CHANGELOG.md"
versioned_files = ["crates/biome_css_syntax/Cargo.toml"]
[packages.biome_deserialize]
changelog       = "crates/biome_deserialize/CHANGELOG.md"
versioned_files = ["crates/biome_deserialize/Cargo.toml"]
[packages.biome_deserialize_macros]
changelog       = "crates/biome_deserialize_macros/CHANGELOG.md"
versioned_files = ["crates/biome_deserialize_macros/Cargo.toml"]
[packages.biome_diagnostics]
changelog       = "crates/biome_diagnostics/CHANGELOG.md"
versioned_files = ["crates/biome_diagnostics/Cargo.toml"]
[packages.biome_diagnostics_categories]
changelog       = "crates/biome_diagnostics_categories/CHANGELOG.md"
versioned_files = ["crates/biome_diagnostics_categories/Cargo.toml"]
[packages.biome_diagnostics_macros]
changelog       = "crates/biome_diagnostics_macros/CHANGELOG.md"
versioned_files = ["crates/biome_diagnostics_macros/Cargo.toml"]
[packages.biome_formatter]
changelog       = "crates/biome_formatter/CHANGELOG.md"
versioned_files = ["crates/biome_formatter/Cargo.toml"]
[packages.biome_fs]
changelog       = "crates/biome_fs/CHANGELOG.md"
versioned_files = ["crates/biome_fs/Cargo.toml"]
[packages.biome_grit_factory]
changelog       = "crates/biome_grit_factory/CHANGELOG.md"
versioned_files = ["crates/biome_grit_factory/Cargo.toml"]
[packages.biome_grit_parser]
changelog       = "crates/biome_grit_parser/CHANGELOG.md"
versioned_files = ["crates/biome_grit_parser/Cargo.toml"]
[packages.biome_grit_syntax]
changelog       = "crates/biome_grit_syntax/CHANGELOG.md"
versioned_files = ["crates/biome_grit_syntax/Cargo.toml"]
[packages.biome_html_factory]
changelog       = "crates/biome_html_factory/CHANGELOG.md"
versioned_files = ["crates/biome_html_factory/Cargo.toml"]
[packages.biome_html_syntax]
changelog       = "crates/biome_html_syntax/CHANGELOG.md"
versioned_files = ["crates/biome_html_syntax/Cargo.toml"]
[packages.biome_js_analyze]
changelog       = "crates/biome_js_analyze/CHANGELOG.md"
versioned_files = ["crates/biome_js_analyze/Cargo.toml"]
[packages.biome_js_factory]
changelog       = "crates/biome_js_factory/CHANGELOG.md"
versioned_files = ["crates/biome_js_factory/Cargo.toml"]
[packages.biome_js_formatter]
changelog       = "crates/biome_js_formatter/CHANGELOG.md"
versioned_files = ["crates/biome_js_formatter/Cargo.toml"]
[packages.biome_js_parser]
changelog       = "crates/biome_js_parser/CHANGELOG.md"
versioned_files = ["crates/biome_js_parser/Cargo.toml"]
[packages.biome_js_semantic]
changelog       = "crates/biome_js_semantic/CHANGELOG.md"
versioned_files = ["crates/biome_js_semantic/Cargo.toml"]
[packages.biome_js_syntax]
changelog       = "crates/biome_js_syntax/CHANGELOG.md"
versioned_files = ["crates/biome_js_syntax/Cargo.toml"]
[packages.biome_js_transform]
changelog       = "crates/biome_js_transform/CHANGELOG.md"
versioned_files = ["crates/biome_js_transform/Cargo.toml"]
[packages.biome_json_analyze]
changelog       = "crates/biome_json_analyze/CHANGELOG.md"
versioned_files = ["crates/biome_json_analyze/Cargo.toml"]
[packages.biome_json_factory]
changelog       = "crates/biome_json_factory/CHANGELOG.md"
versioned_files = ["crates/biome_json_factory/Cargo.toml"]
[packages.biome_json_formatter]
changelog       = "crates/biome_json_formatter/CHANGELOG.md"
versioned_files = ["crates/biome_json_formatter/Cargo.toml"]
[packages.biome_json_parser]
changelog       = "crates/biome_json_parser/CHANGELOG.md"
versioned_files = ["crates/biome_json_parser/Cargo.toml"]
[packages.biome_json_syntax]
changelog       = "crates/biome_json_syntax/CHANGELOG.md"
versioned_files = ["crates/biome_json_syntax/Cargo.toml"]
[packages.biome_markup]
changelog       = "crates/biome_markup/CHANGELOG.md"
versioned_files = ["crates/biome_markup/Cargo.toml"]
[packages.biome_parser]
changelog       = "crates/biome_parser/CHANGELOG.md"
versioned_files = ["crates/biome_parser/Cargo.toml"]
[packages.biome_project]
changelog       = "crates/biome_project/CHANGELOG.md"
versioned_files = ["crates/biome_project/Cargo.toml"]
[packages.biome_rowan]
changelog       = "crates/biome_rowan/CHANGELOG.md"
versioned_files = ["crates/biome_rowan/Cargo.toml"]
[packages.biome_suppression]
changelog       = "crates/biome_suppression/CHANGELOG.md"
versioned_files = ["crates/biome_suppression/Cargo.toml"]
[packages.biome_text_edit]
changelog       = "crates/biome_text_edit/CHANGELOG.md"
versioned_files = ["crates/biome_text_edit/Cargo.toml"]
[packages.biome_text_size]
changelog       = "crates/biome_text_size/CHANGELOG.md"
versioned_files = ["crates/biome_text_size/Cargo.toml"]
[packages.biome_unicode_table]
changelog       = "crates/biome_unicode_table/CHANGELOG.md"
versioned_files = ["crates/biome_unicode_table/Cargo.toml"]
[packages.biome_string_case]
changelog       = "crates/biome_string_case/CHANGELOG.md"
versioned_files = ["crates/biome_string_case/Cargo.toml"]
[packages.biome_graphql_syntax]
changelog       = "crates/biome_graphql_syntax/CHANGELOG.md"
versioned_files = ["crates/biome_graphql_syntax/Cargo.toml"]
[packages.biome_graphql_factory]
changelog       = "crates/biome_graphql_factory/CHANGELOG.md"
versioned_files = ["crates/biome_graphql_factory/Cargo.toml"]
[packages.biome_html_parser]
changelog       = "crates/biome_html_parser/CHANGELOG.md"
versioned_files = ["crates/biome_html_parser/Cargo.toml"]
[packages.biome_configuration]
changelog       = "crates/biome_configuration/CHANGELOG.md"
versioned_files = ["crates/biome_configuration/Cargo.toml"]

[packages.biome_grit_formatter]
changelog       = "crates/biome_grit_formatter/CHANGELOG.md"
versioned_files = ["crates/biome_grit_formatter/Cargo.toml"]

[packages.biome_graphql_formatter]
changelog       = "crates/biome_graphql_formatter/CHANGELOG.md"
versioned_files = ["crates/biome_graphql_formatter/Cargo.toml"]

[packages.biome_graphql_analyze]
changelog       = "crates/biome_graphql_analyze/CHANGELOG.md"
versioned_files = ["crates/biome_graphql_analyze/Cargo.toml"]

[packages.biome_graphql_semantic]
changelog       = "crates/biome_graphql_semantic/CHANGELOG.md"
versioned_files = ["crates/biome_graphql_semantic/Cargo.toml"]

[packages.biome_css_semantic]
changelog       = "crates/biome_css_semantic/CHANGELOG.md"
versioned_files = ["crates/biome_css_semantic/Cargo.toml"]

## End of crates. DO NOT CHANGE!

# Workflow to create a changeset
[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"
# end-workflow

# Workflow that creates a PR via GitHub actions. This PR will contain all the changes for a release: changelogs, version numbers, etc.
# Refernce: https://knope.tech/recipes/1-preview-releases-with-pull-requests/#prepare-release-workflow
[[workflows]]
name = "prepare-release"
[[workflows.steps]]
command = "git switch -c release/automated-ci"
type    = "Command"

[[workflows.steps]]
type = "PrepareRelease"
# we have been following conventional commits, although inside the monorepo it's difficult to define scopes
ignore_conventional_commits = true

[[workflows.steps]]
type = "Command"
# Workaround to update the lock files
# https://github.com/knope-dev/knope/issues/162
command = "cargo update -w"

[[workflows.steps]]
type = "Command"
# WARNING: if you change this message, remember to update the `prepare_release.yml` too, because it uses this message
command = "git commit -m \"chore: prepare release\""

[[workflows.steps]]
# WARNING: if you change the name of the branch, update `prepare_release.yml` too
command = "git push --force-with-lease --set-upstream origin release/automated-ci"
type    = "Command"

[[workflows.steps]]
base = "main"
type = "CreatePullRequest"

[workflows.steps.title]
template = "chore: prepare release"

[workflows.steps.body]
template = "This PR was automatically created via workflow. Merging it will create a new release of the Biome packages and crates."
# end-workflow

# The release workflow that will run in CI. It is triggered when the prepare-release PR is merged
[[workflows]]
name = "release"

[[workflows.steps]]
# The script will add most up-to-date optional dependencies to the manifest of @biomejs/biome and @biomejs/backend-jsonrpc
command = "node scripts/generate-packages.mjs"
type    = "Command"

[[workflows.steps]]
type = "Release"

# GitHub related information. `owner` is the name of the org, `repo` is the name of the repository where the actions run
[github]
owner = "biomejs"
repo  = "biome"
# end-workflow
