<!-- should generate diagnostics -->
---
// Astro frontmatter
---
<article role="article"></article>
<button role="button"></button>
<h1 role="heading" aria-level="1">title</h1>
<nav role="navigation"></nav>
