/* should not generate diagnostics */
.a th {
    color: red;
}

@media print {
    .a .b .c th {
        color: green;
    }
}

@supports (display: grid) {
    .a .b .c th {
        color: green;
    }
}

@container (min-width: 0px) {
    .a .b .c th {
        color: green;
    }
}

@scope (.scope) {
    .a .b .c th {
        color: green;
    }
}

.start {
    @starting-style {
        .a .b .c th {
            color: green;
        }
    }
}

.a .b th {
    color: blue;
}
