---
import type { Props } from "@astrojs/starlight/props";

import Netlify from "@/components/Netlify.astro";
import MobileMenuFooter from "@astrojs/starlight/components/MobileMenuFooter.astro";
import SidebarSublist from "@astrojs/starlight/components/SidebarSublist.astro";

const { sidebar } = Astro.props;
---

<SidebarSublist sublist={sidebar} />
<div class="md:sl-hidden">
  <MobileMenuFooter {...Astro.props} />
</div>
