---
import AstrolightSiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import type { Props } from "@astrojs/starlight/props";

const menuItems = [
	{ name: "Docs", href: "/guides/getting-started" },
	{ name: "Blog", href: "/blog" },
	{ name: "Playground", href: "/playground" },
];

function pathsMatch(pathA: string, pathB: string): boolean {
	return pathB.includes(pathA);
}
---

<div>
  <AstrolightSiteTitle {...Astro.props} />

  <div class="sl-hidden separator"></div>

  <div class="sl-hidden menu-items">
    {
      menuItems.map((menuItem) => (
        <a
          href={menuItem.href}
          aria-current={
            pathsMatch(encodeURI(menuItem.href), Astro.url.pathname) && "page"
          }
        >
          <span>{menuItem.name}</span>
        </a>
      ))
    }
  </div>
</div>

<style>
  div {
    display: flex;
    gap: var(--sl-content-pad-x);
    align-items: center;
  }

  div.separator {
    content: "";
    height: 2rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }

  div a {
    text-decoration: none;
    color: var(--sl-color-white);
    font-size: var(--sl-text-base);
    font-weight: 500;
  }

  div a:hover {
    color: var(--sl-color-text-accent);
  }

  [aria-current="page"],
  [aria-current="page"]:hover,
  [aria-current="page"]:focus {
    color: var(--sl-color-text-accent);
  }

	@media (min-width: 50rem) {
		.menu-items {
			display: flex;
		}
		.separator {
			display: block;
		}
	}
}
</style>
