@at-root {
  .root-only {
    color: red;
  }
}

@at-root .root-only, .another-root {
  color: blue;
}

@at-root (without: media supports) {
  .root-only {
    color: green;
  }
}

@mixin card {
  @at-root (with: rule) {
    .card {
      display: block;
    }
  }
}

@if true {
  @at-root (without: all) {
    .branch {
      color: purple;
    }
  }
}
