<!-- should generate diagnostics -->

<div class="w-4 h-4"></div>
<div class='overflow-hidden text-ellipsis whitespace-nowrap'></div>
<Icon class="inline-block hover:w-5 hover:h-5 text-current" />
<button class="rounded-md px-3 pt-2 pr-2 pb-2 pl-2">
  Save
</button>
<div class="border-x border-y dark:focus:w-[2rem] dark:focus:h-[2rem]"></div>
