---
// should not generate diagnostics
---

<div class="size-4"></div>
<div class="truncate"></div>
<Icon class="inline-block hover:size-5 text-current" />
<button class="rounded-md px-3 py-2">
  Save
</button>
<div class="border dark:focus:size-[2rem]"></div>
