.ownership{
value:fn(1px,2px);
after-ordinary:1;
value:fn(1px,2px,/* ordinary close */);
after-ordinary-comment:2;
@include mix(1px,2px);
after-include:3;
@include mix(1px,2px,/* include close */);
after-include-comment:4;
@include mix($args... // spread close
);
after-spread:5;
}
