@if $type==ocean{
color:red;
}@else if $type ==matador{
color:blue;
}@else{
color:green;
}

.card{
@if
$compact
{
padding:0;
}@else if $spacious and $touch {
padding:2rem;
}@else{
padding:
1rem;
}
}

@function normalize($section) {
@if index($include, $section) {
@return true;
}
// Keep this comment before else.
@else if not index($exclude, $section) and index($include, all) {
@return true;
}
@return false;
}
