[package]
edition = "2021"
name    = "xtask_lintdoc"
publish = false
version = "0.0.0"

[dependencies]
biome_analyze      = { path = "../../crates/biome_analyze" }
biome_console      = { path = "../../crates/biome_console" }
biome_diagnostics  = { path = "../../crates/biome_diagnostics" }
biome_formatter    = { path = "../../crates/biome_formatter" }
biome_js_parser    = { path = "../../crates/biome_js_parser" }
biome_js_syntax    = { path = "../../crates/biome_js_syntax" }
biome_json_analyze = { path = "../../crates/biome_json_analyze" }
biome_json_parser  = { path = "../../crates/biome_json_parser" }
biome_json_syntax  = { path = "../../crates/biome_json_syntax" }
biome_service      = { path = "../../crates/biome_service" }
convert_case       = "0.6.0"
pulldown-cmark     = { version = "0.9", default-features = false }
rome_js_analyze    = { path = "../../crates/rome_js_analyze" }
xtask              = { path = '../', version = "0.0" }
