[package]
edition = "2021"
name    = "xtask_lintdoc"
publish = false
version = "0.0.0"

[dependencies]
biome_analyze      = { workspace = true }
biome_console      = { workspace = true }
biome_diagnostics  = { workspace = true }
biome_formatter    = { workspace = true }
biome_js_analyze   = { workspace = true }
biome_js_parser    = { workspace = true }
biome_js_syntax    = { workspace = true }
biome_json_analyze = { workspace = true }
biome_json_parser  = { workspace = true }
biome_json_syntax  = { workspace = true }
biome_service      = { workspace = true }
convert_case       = { workspace = true }
pulldown-cmark     = { version = "0.9", default-features = false }
xtask              = { path = '../', version = "0.0" }

[lints]
workspace = true
