<!-- should not generate diagnostics-->
---
import { SectionRow } from "./Section.astro"
const foregroundColor = "rgb(221 243 228)";
const backgroundColor = "rgb(24 121 78)";
const message = "Astro is awesome!";
---
<SectionRow
	title="A section title."
	description="<p>A section description.</p>"
	screenshot={{
		path: "img-path-name",
		alt: message,
	}}
/>

<style define:vars={{ textColor: foregroundColor, backgroundColor }}>
	h1 {
		background-color: var(--backgroundColor);
		color: var(--textColor);
	}
</style>
