a {
    prop1: value;
    prop2: value;
}

a {
    prop1: 1px;
}

a {
    prop1: a();
}

a {
    prop1: a(1);
}

a {
    prop1: a(1,1);
}

a {
    prop1: a(1,1 1);
}

a {
    prop1: 2/3;
}

a {
    prop1: --custom;
}

a {
    prop1: 1px;
    prop2: 2px;;;
}

a {
    prop1: 1px;;;
}

div {
	flex: 1 1 auto !important;
}

div {
	border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
}

div {
	--bs-btn-focus-shadow-rgb: 33, 37, 41;
	background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;

}
