[package]
name                 = "biome_service"
version              = "0.0.0"
authors.workspace    = true
edition.workspace    = true
description          = "Biome's core functionality"
homepage.workspace   = true
repository.workspace = true
license.workspace    = true
keywords.workspace   = true
categories.workspace = true
publish              = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
biome_analyze           = { workspace = true, features = ["serde"] }
biome_configuration     = { workspace = true }
biome_console           = { workspace = true }
biome_css_analyze       = { workspace = true }
biome_css_formatter     = { workspace = true }
biome_css_parser        = { workspace = true }
biome_css_semantic      = { workspace = true }
biome_css_syntax        = { workspace = true }
biome_deserialize       = { workspace = true }
biome_diagnostics       = { workspace = true, features = ["camino"] }
biome_formatter         = { workspace = true, features = ["serde"] }
biome_fs                = { workspace = true, features = ["serde"] }
biome_glob              = { workspace = true }
biome_graphql_analyze   = { workspace = true }
biome_graphql_formatter = { workspace = true }
biome_graphql_parser    = { workspace = true }
biome_graphql_syntax    = { workspace = true }
biome_grit_formatter    = { workspace = true }
biome_grit_parser       = { workspace = true }
biome_grit_patterns     = { workspace = true, features = ["serde"] }
biome_grit_syntax       = { workspace = true }
biome_html_analyze      = { workspace = true }
biome_html_factory      = { workspace = true }
biome_html_formatter    = { workspace = true, features = ["serde"] }
biome_html_parser       = { workspace = true }
biome_html_syntax       = { workspace = true }
biome_js_analyze        = { workspace = true }
biome_js_factory        = { workspace = true }
biome_js_formatter      = { workspace = true, features = ["serde"] }
biome_js_parser         = { workspace = true }
biome_js_semantic       = { workspace = true }
biome_js_syntax         = { workspace = true }
biome_js_type_info      = { workspace = true }
biome_json_analyze      = { workspace = true }
biome_json_formatter    = { workspace = true, features = ["serde"] }
biome_json_parser       = { workspace = true }
biome_json_syntax       = { workspace = true }
biome_module_graph      = { workspace = true, features = ["serde"] }
biome_package           = { workspace = true }
biome_parser            = { workspace = true }
biome_plugin_loader     = { workspace = true }
biome_project_layout    = { workspace = true }
biome_resolver          = { workspace = true }
biome_rowan             = { workspace = true, features = ["serde"] }
biome_string_case       = { workspace = true }
biome_text_edit         = { workspace = true }
boxcar                  = { workspace = true }
bpaf                    = { workspace = true }
camino                  = { workspace = true }
crossbeam               = { workspace = true }
either                  = { workspace = true }
enumflags2              = { workspace = true, features = ["serde"] }
getrandom               = { workspace = true, features = ["js"] }
ignore                  = { workspace = true }
notify                  = { version = "8.2.0", features = ["crossbeam-channel"] }
papaya                  = { workspace = true }
rayon                   = { workspace = true }
regex                   = { workspace = true }
rustc-hash              = { workspace = true }
schemars                = { workspace = true, optional = true }
serde                   = { workspace = true, features = ["derive"] }
serde_json              = { workspace = true, features = ["raw_value"] }
smallvec                = { workspace = true, features = ["serde"] }
tokio                   = { workspace = true, features = ["sync"] }
tracing                 = { workspace = true, features = ["attributes", "log"] }
web-time                = { workspace = true }

[dev-dependencies]
insta = { workspace = true }

[features]
js_plugin = ["biome_plugin_loader/js_plugin"]
schema    = [
  "biome_configuration/schema",
  "biome_css_syntax/schema",
  "biome_formatter/schema",
  "biome_fs/schema",
  "biome_graphql_syntax/schema",
  "biome_grit_patterns/schema",
  "biome_grit_syntax/schema",
  "biome_html_formatter/schema",
  "biome_html_syntax/schema",
  "biome_js_analyze/schema",
  "biome_js_syntax/schema",
  "biome_json_syntax/schema",
  "biome_module_graph/schema",
  "biome_text_edit/schema",
  "dep:schemars",
]

[lints]
workspace = true
