/* should not generate diagnostics */

a {
	clip-path: rect(0 0 0 0);
}

/* 'Accept `-webkit-box-orient` if its value is `vertical` */
a {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
