/* Standard CSS multiline comment
   in SCSS context */
$var: value;

/* Comment before selector */
.foo {
  color: red;
}

/* Multi-line comment
   with multiple lines
   and more content */
$another-var: blue;

// SCSS line comment
$line-comment: true;

/* Nested /* comment */ attempt */
.nested {
  /* Comment inside rule */
  background: white;
}

/* Comment with special chars: @#$%^&*() */
$special: 10px;

/*
 * Comment before mixin
 */
@mixin test-mixin {
  /* Comment inside mixin */
  margin: 0;
}

/* Comment at end of file */



