[package]
edition = "2021"
name    = "xtask_codegen"
publish = false
version = "0.0.0"

[dependencies]
anyhow         = "1.0.52"
case           = "1.0.0"
convert_case   = { workspace = true }
filetime       = "0.2.15"
fs_extra       = "1.3.0"
git2           = { version = "0.18.2", default-features = false }
pico-args      = { version = "0.5.0", features = ["eq-separator"] }
proc-macro2    = { version = "1.0.63", features = ["span-locations"] }
pulldown-cmark = { version = "0.9", default-features = false, optional = true }
quote          = "1.0.14"
serde          = { workspace = true, optional = true }
ureq           = "2.4.0"
walkdir        = "2.3.2"
xtask          = { path = '../', version = "0.0" }

biome_analyze        = { workspace = true, optional = true }
biome_aria           = { workspace = true, optional = true }
biome_cli            = { workspace = true, optional = true }
biome_diagnostics    = { workspace = true, optional = true }
biome_js_analyze     = { workspace = true, optional = true }
biome_js_factory     = { workspace = true, optional = true }
biome_js_formatter   = { workspace = true, optional = true }
biome_js_parser      = { workspace = true, optional = true }
biome_js_syntax      = { workspace = true, optional = true }
biome_json_analyze   = { workspace = true, optional = true }
biome_json_formatter = { workspace = true, optional = true }
biome_json_parser    = { workspace = true, optional = true }
biome_json_syntax    = { workspace = true, optional = true }
biome_rowan          = { workspace = true, optional = true }
biome_service        = { workspace = true, features = ["schema"], optional = true }
biome_ungrammar      = { workspace = true }
schemars             = { version = "0.8.10", optional = true }
serde_json           = { version = "1.0.74", optional = true }

[features]
configuration = [
  "biome_analyze",
  "biome_js_analyze",
  "biome_js_syntax",
  "biome_json_analyze",
  "biome_json_syntax",
  "pulldown-cmark",
]
license = ["ureq/default", "ureq/json", "ureq/serde_json", "serde", "serde_json"]
schema = [
  "schemars",
  "serde_json",
  "biome_rowan",
  "biome_service",
  "biome_js_syntax",
  "biome_js_factory",
  "biome_js_formatter",
  "biome_json_formatter",
  "biome_json_parser",
  "biome_diagnostics",
]
website = ["schema", "biome_service", "biome_cli/docgen", "biome_js_parser", "biome_js_formatter", "biome_js_syntax"]


[lints]
workspace = true
