[package]
edition = "2021"
name    = "xtask_codegen"
publish = false
version = "0.0.0"

[dependencies]
anyhow         = { workspace = true }
bpaf           = { workspace = true, features = ["derive"] }
git2           = { version = "0.19.0", default-features = false }
proc-macro2    = { workspace = true, features = ["span-locations"] }
pulldown-cmark = { version = "0.12.2", default-features = false, optional = true }
quote          = "1.0.36"
serde          = { workspace = true, optional = true }
ureq           = "2.10.1"
walkdir        = "2.5.0"
xtask          = { path = '../', version = "0.0" }

biome_analyze         = { workspace = true, optional = true }
biome_cli             = { workspace = true, optional = true }
biome_configuration   = { workspace = true, optional = true }
biome_css_analyze     = { workspace = true, optional = true }
biome_css_syntax      = { workspace = true, optional = true }
biome_diagnostics     = { workspace = true, optional = true }
biome_graphql_analyze = { workspace = true, optional = true }
biome_graphql_parser  = { workspace = true, optional = true }
biome_graphql_syntax  = { workspace = true, optional = true }
biome_js_analyze      = { workspace = true, optional = true }
biome_js_factory      = { workspace = true, optional = true }
biome_js_formatter    = { workspace = true, optional = true }
biome_js_parser       = { workspace = true, optional = true }
biome_js_syntax       = { workspace = true, optional = true }
biome_json_analyze    = { workspace = true, optional = true }
biome_json_formatter  = { workspace = true, optional = true }
biome_json_parser     = { workspace = true, optional = true }
biome_json_syntax     = { workspace = true, optional = true }
biome_rowan           = { workspace = true, optional = true }
biome_service         = { workspace = true, features = ["schema"], optional = true }
biome_string_case     = { workspace = true }
biome_ungrammar       = { workspace = true }
schemars              = { workspace = true, optional = true }
serde_json            = { workspace = true, optional = true }

[features]
configuration = [
  "biome_analyze",
  "biome_js_analyze",
  "biome_js_syntax",
  "biome_json_analyze",
  "biome_json_syntax",
  "biome_css_analyze",
  "biome_css_syntax",
  "biome_graphql_analyze",
  "biome_graphql_syntax",
  "biome_rowan",
  "pulldown-cmark",
]
license = ["ureq/default", "ureq/json", "serde", "serde_json"]
schema = [
  "schemars",
  "serde_json",
  "biome_rowan",
  "biome_service",
  "biome_js_syntax",
  "biome_js_factory",
  "biome_js_formatter",
  "biome_json_formatter",
  "biome_json_parser",
  "biome_diagnostics",
  "biome_configuration",
]

[lints]
workspace = true
