a {
  b: 1.2 % 4.7;
}

div {
  a: (false and "hey");
  b: ("hey" and "ho");
  b: ("hey" or "ho");
  a: false and "hey";
  b: "hey" and "ho";
}

.division {
  $var: a / b;
  decl: a / b;
  with-parens: (a / b);
}

@function f() {
  @return a / b;
  @return 10 / 2;
}

@debug 15px / 30px;
@debug 10 / 2;
@debug 10/2;
@debug (10 / 2);
@debug (bold 10 / 2 sans-serif);
@debug (10 / 2 bold);
@debug (10 / 2, bold);
@debug (a: b, c: 10 / 2);
@debug (10 / 2 bold: b, c: 10 / 2);
@debug 10 / 2 + 1;
@debug 10/2+1;
@debug 1 * 2 / 3;
@debug (1 + 2) / 3;
@debug fn() / 3;
@debug $var / 3;
@debug mod.$var / 3;

a {
  prop: a,-1*b;
}
