@use "sass:math";
$feature: "hover";
$condition: "(display: grid)";
.a {
  interpolated-feature: if(media((#{$feature})): red; else: blue);
  namespaced-bound: if(media(math.$pi < width): red; else: blue);
  legacy-media: if(media(#{$condition}), red, blue);
  legacy-supports: if(supports(#{$condition}), red, blue);
  parent-suffix: if(supports(selector(&+100)): red; else: blue);
  width: 1px;
}
