$mylist: (alpha, beta, gamma, );
$my-single-item-list: (alpha,);
$box-shadow-first-two: 0 0.5em $background, 0 -0.5em $background;
$list2: (1px solid,);
// TODO(interpolation support): $no-whitespaces: $variable#{something};



