$foo: (
  (key1): (value-1-0),
  key2: value-2-0,
  (key6): (value-6-0),
  key-3-0 key-3-1 key-3-2: value-3-0 value-3-1 value-3-2,
  key4: (value-4-0, value-4-1, value-4-2),
  key5: (key-5-0: value-5-1),
  (key-7-0: key-7-1): (value-7-0: value-7-1),
  (key-8-0, key-8-1, key-8-2): (value-8-0, value-8-1, value-8-2),
);

div {
  foo: map-get((foo: 1, bar: 2), foo);
  foo: map-get((foo: 1, bar: 2), bar);
  foo: map-get((foo: 1, bar: 2), baz);
  foo: map-get((), foo);
  foo: map-get($foo, (key-5-0: value-5-1));
  foo: map-get($foo, (key2));
  foo: map-get($foo, (key-3-0 key-3-1 key-3-2));
}




