foo {
  test-1: 10+10;
  test-2: 10 +10;
  test-3: 10+ 10;
  test-4: 10 + 10;
  // TODO(interpolation support): test-5: 10+#{10};
  // TODO(interpolation support): test-6: 10 +#{10};
  // TODO(interpolation support): test-7: 10+ #{10};
  // TODO(interpolation support): test-8: 10 + #{10};
  // TODO(interpolation support): test-9: 10+1#{0};
  // TODO(interpolation support): test-10: 10 +1#{0};
  // TODO(interpolation support): test-11: 10+ 1#{0};
  // TODO(interpolation support): test-12: 10 + 1#{0};
  // TODO(interpolation support): test-13: 10+#{1}0;
  // TODO(interpolation support): test-14: 10 +#{1}0;
  // TODO(interpolation support): test-15: 10+ #{1}0;
  // TODO(interpolation support): test-16: 10 + #{1}0;
  // TODO(interpolation support): test-17: #{10}+#{10};
  // TODO(interpolation support): test-18: #{10} +#{10};
  // TODO(interpolation support): test-19: #{10}+ #{10};
  // TODO(interpolation support): test-20: #{10} + #{10};
  // TODO(interpolation support): test-21: #{10}+1#{0};
  // TODO(interpolation support): test-22: #{10} +1#{0};
  // TODO(interpolation support): test-23: #{10}+ 1#{0};
  // TODO(interpolation support): test-24: #{10} + 1#{0};
  // TODO(interpolation support): test-25: #{10}+#{1}0;
  // TODO(interpolation support): test-26: #{10} +#{1}0;
  // TODO(interpolation support): test-27: #{10}+ #{1}0;
  // TODO(interpolation support): test-28: #{10} + #{1}0;
  // TODO(interpolation support): test-29: 1#{0}+1#{0};
  // TODO(interpolation support): test-30: 1#{0} +1#{0};
  // TODO(interpolation support): test-31: 1#{0}+ 1#{0};
  // TODO(interpolation support): test-32: 1#{0} + 1#{0};
  // TODO(interpolation support): test-33: 1#{0}+#{1}0;
  // TODO(interpolation support): test-34: 1#{0} +#{1}0;
  // TODO(interpolation support): test-35: 1#{0}+ #{1}0;
  // TODO(interpolation support): test-36: 1#{0} + #{1}0;
  // TODO(interpolation support): test-37: #{1}0+#{1}0;
  // TODO(interpolation support): test-38: #{1}0 +#{1}0;
  // TODO(interpolation support): test-39: #{1}0+ #{1}0;
  // TODO(interpolation support): test-40: #{1}0 + #{1}0;
}

foo {
  test-5: 10+10px;
  test-6: 10 +10px;
  test-7: 10+ 10px;
  test-8: 10 + 10px;
  // TODO(interpolation support): test-9: 10+#{10}px;
  // TODO(interpolation support): test-10: 10 +#{10}px;
  // TODO(interpolation support): test-11: 10+ #{10}px;
  // TODO(interpolation support): test-12: 10 + #{10}px;
  // TODO(interpolation support): test-13: 10+1#{0}px;
  // TODO(interpolation support): test-14: 10 +1#{0}px;
  // TODO(interpolation support): test-15: 10+ 1#{0}px;
  // TODO(interpolation support): test-16: 10 + 1#{0}px;
  // TODO(interpolation support): test-17: 10+10#{px};
  // TODO(interpolation support): test-18: 10 +10#{px};
  // TODO(interpolation support): test-19: 10+ 10#{px};
  // TODO(interpolation support): test-20: 10 + 10#{px};
  // TODO(interpolation support): test-21: 10+10#{p}x;
  // TODO(interpolation support): test-22: 10 +10#{p}x;
  // TODO(interpolation support): test-23: 10+ 10#{p}x;
  // TODO(interpolation support): test-24: 10 + 10#{p}x;
  test-25: 10px+10px;
  test-26: 10px +10px;
  test-27: 10px+ 10px;
  test-28: 10px + 10px;
  // TODO(interpolation support): test-29: 10px+#{10}px;
  // TODO(interpolation support): test-30: 10px +#{10}px;
  // TODO(interpolation support): test-31: 10px+ #{10}px;
  // TODO(interpolation support): test-32: 10px + #{10}px;
  // TODO(interpolation support): test-33: 10px+1#{0}px;
  // TODO(interpolation support): test-34: 10px +1#{0}px;
  // TODO(interpolation support): test-35: 10px+ 1#{0}px;
  // TODO(interpolation support): test-36: 10px + 1#{0}px;
  // TODO(interpolation support): test-37: 10px+10#{px};
  // TODO(interpolation support): test-38: 10px +10#{px};
  // TODO(interpolation support): test-39: 10px+ 10#{px};
  // TODO(interpolation support): test-40: 10px + 10#{px};
  // TODO(interpolation support): test-41: 10px+10#{p}x;
  // TODO(interpolation support): test-42: 10px +10#{p}x;
  // TODO(interpolation support): test-43: 10px+ 10#{p}x;
  // TODO(interpolation support): test-44: 10px + 10#{p}x;
  // TODO(interpolation support): test-45: #{10}px+#{10}px;
  // TODO(interpolation support): test-46: #{10}px +#{10}px;
  // TODO(interpolation support): test-47: #{10}px+ #{10}px;
  // TODO(interpolation support): test-48: #{10}px + #{10}px;
  // TODO(interpolation support): test-49: #{10}px+1#{0}px;
  // TODO(interpolation support): test-50: #{10}px +1#{0}px;
  // TODO(interpolation support): test-51: #{10}px+ 1#{0}px;
  // TODO(interpolation support): test-52: #{10}px + 1#{0}px;
  // TODO(interpolation support): test-53: #{10}px+10#{px};
  // TODO(interpolation support): test-54: #{10}px +10#{px};
  // TODO(interpolation support): test-55: #{10}px+ 10#{px};
  // TODO(interpolation support): test-56: #{10}px + 10#{px};
  // TODO(interpolation support): test-57: #{10}px+10#{p}x;
  // TODO(interpolation support): test-58: #{10}px +10#{p}x;
  // TODO(interpolation support): test-59: #{10}px+ 10#{p}x;
  // TODO(interpolation support): test-60: #{10}px + 10#{p}x;
  // TODO(interpolation support): test-61: 1#{0}px+1#{0}px;
  // TODO(interpolation support): test-62: 1#{0}px +1#{0}px;
  // TODO(interpolation support): test-63: 1#{0}px+ 1#{0}px;
  // TODO(interpolation support): test-64: 1#{0}px + 1#{0}px;
  // TODO(interpolation support): test-65: 1#{0}px+10#{px};
  // TODO(interpolation support): test-66: 1#{0}px +10#{px};
  // TODO(interpolation support): test-67: 1#{0}px+ 10#{px};
  // TODO(interpolation support): test-68: 1#{0}px + 10#{px};
  // TODO(interpolation support): test-69: 1#{0}px+10#{p}x;
  // TODO(interpolation support): test-70: 1#{0}px +10#{p}x;
  // TODO(interpolation support): test-71: 1#{0}px+ 10#{p}x;
  // TODO(interpolation support): test-72: 1#{0}px + 10#{p}x;
  // TODO(interpolation support): test-73: 10#{px}+10#{px};
  // TODO(interpolation support): test-74: 10#{px} +10#{px};
  // TODO(interpolation support): test-75: 10#{px}+ 10#{px};
  // TODO(interpolation support): test-76: 10#{px} + 10#{px};
  // TODO(interpolation support): test-77: 10#{px}+10#{p}x;
  // TODO(interpolation support): test-78: 10#{px} +10#{p}x;
  // TODO(interpolation support): test-79: 10#{px}+ 10#{p}x;
  // TODO(interpolation support): test-80: 10#{px} + 10#{p}x;
  // TODO(interpolation support): test-81: 10#{p}x+10#{p}x;
  // TODO(interpolation support): test-82: 10#{p}x +10#{p}x;
  // TODO(interpolation support): test-83: 10#{p}x+ 10#{p}x;
  // TODO(interpolation support): test-84: 10#{p}x + 10#{p}x;
}

foo {
  test-1: literal+literal;
  test-2: literal +literal;
  test-3: literal+ literal;
  test-4: literal + literal;
  test-5: literal+"quoted";
  test-6: literal +"quoted";
  test-7: literal+ "quoted";
  test-8: literal + "quoted";
  // TODO(interpolation support): test-9: literal+#{interpolant};
  // TODO(interpolation support): test-10: literal +#{interpolant};
  // TODO(interpolation support): test-11: literal+ #{interpolant};
  // TODO(interpolation support): test-12: literal + #{interpolant};
  // TODO(interpolation support): test-13: literal+lschema_#{ritlp};
  // TODO(interpolation support): test-14: literal +lschema_#{ritlp};
  // TODO(interpolation support): test-15: literal+ lschema_#{ritlp};
  // TODO(interpolation support): test-16: literal + lschema_#{ritlp};
  // TODO(interpolation support): test-17: literal+#{litlp}_rschema;
  // TODO(interpolation support): test-18: literal +#{litlp}_rschema;
  // TODO(interpolation support): test-19: literal+ #{litlp}_rschema;
  // TODO(interpolation support): test-20: literal + #{litlp}_rschema;
  test-21: "quoted"+"quoted";
  test-22: "quoted" +"quoted";
  test-23: "quoted"+ "quoted";
  test-24: "quoted" + "quoted";
  // TODO(interpolation support): test-25: "quoted"+#{interpolant};
  // TODO(interpolation support): test-26: "quoted" +#{interpolant};
  // TODO(interpolation support): test-27: "quoted"+ #{interpolant};
  // TODO(interpolation support): test-28: "quoted" + #{interpolant};
  // TODO(interpolation support): test-29: "quoted"+lschema_#{ritlp};
  // TODO(interpolation support): test-30: "quoted" +lschema_#{ritlp};
  // TODO(interpolation support): test-31: "quoted"+ lschema_#{ritlp};
  // TODO(interpolation support): test-32: "quoted" + lschema_#{ritlp};
  // TODO(interpolation support): test-33: "quoted"+#{litlp}_rschema;
  // TODO(interpolation support): test-34: "quoted" +#{litlp}_rschema;
  // TODO(interpolation support): test-35: "quoted"+ #{litlp}_rschema;
  // TODO(interpolation support): test-36: "quoted" + #{litlp}_rschema;
  // TODO(interpolation support): test-37: #{interpolant}+#{interpolant};
  // TODO(interpolation support): test-38: #{interpolant} +#{interpolant};
  // TODO(interpolation support): test-39: #{interpolant}+ #{interpolant};
  // TODO(interpolation support): test-40: #{interpolant} + #{interpolant};
  // TODO(interpolation support): test-41: #{interpolant}+lschema_#{ritlp};
  // TODO(interpolation support): test-42: #{interpolant} +lschema_#{ritlp};
  // TODO(interpolation support): test-43: #{interpolant}+ lschema_#{ritlp};
  // TODO(interpolation support): test-44: #{interpolant} + lschema_#{ritlp};
  // TODO(interpolation support): test-45: #{interpolant}+#{litlp}_rschema;
  // TODO(interpolation support): test-46: #{interpolant} +#{litlp}_rschema;
  // TODO(interpolation support): test-47: #{interpolant}+ #{litlp}_rschema;
  // TODO(interpolation support): test-48: #{interpolant} + #{litlp}_rschema;
  // TODO(interpolation support): test-49: lschema_#{ritlp}+lschema_#{ritlp};
  // TODO(interpolation support): test-50: lschema_#{ritlp} +lschema_#{ritlp};
  // TODO(interpolation support): test-51: lschema_#{ritlp}+ lschema_#{ritlp};
  // TODO(interpolation support): test-52: lschema_#{ritlp} + lschema_#{ritlp};
  // TODO(interpolation support): test-53: lschema_#{ritlp}+#{litlp}_rschema;
  // TODO(interpolation support): test-54: lschema_#{ritlp} +#{litlp}_rschema;
  // TODO(interpolation support): test-55: lschema_#{ritlp}+ #{litlp}_rschema;
  // TODO(interpolation support): test-56: lschema_#{ritlp} + #{litlp}_rschema;
  // TODO(interpolation support): test-57: #{litlp}_rschema+#{litlp}_rschema;
  // TODO(interpolation support): test-58: #{litlp}_rschema +#{litlp}_rschema;
  // TODO(interpolation support): test-59: #{litlp}_rschema+ #{litlp}_rschema;
  // TODO(interpolation support): test-60: #{litlp}_rschema + #{litlp}_rschema;
}



