@use "sass:list";

.a {
  font-family: if;
  selected: if(sass(true): if);
  fallback: if(sass(false): serif; else: if);
  sequence: if(sass(true): if serif);
  nested: if(sass(true): if(sass(false): serif; else: if));
  spaced: list.length(if (not false));
  commented: list.length(if/**/(not false));
}
