/* stylelint-disable selector-type-no-unknown, property-no-unknown */
foo {
  number-plus-tight: 1+2;
  number-plus-left-space: 1 +2;
  number-plus-right-space: 1+ 2;
  number-plus-spaced: 1 + 2;

  number-minus-tight: 3-2;
  number-minus-left-space: 3 -2;
  number-minus-right-space: 3- 2;
  number-minus-spaced: 3 - 2;

  dimension-plus-tight: 10+10px;
  dimension-minus-tight: 10-10px;

  percentage-plus-tight: 10+10%;
  percentage-minus-tight: 10-10%;

  unary-plus: +2;
  unary-minus: -2;
  binary-plus-unary-plus: 1 + +2;
  binary-plus-unary-minus: 1 + -3;
  binary-plus-unary-plus-literal: 1 + +5;
  binary-minus-unary-minus: 1 - -2;

  page-like-scale: 1 +2 * 3;
  page-like-map: (
    (1 +2): foo,
    ($gap +1): bar,
  );
}
