a { --custom-property: 1; }
a { --custom-property: 1; --cUstOm-prOpErtY: 1; }
a { --custom-property: 1; color: pink; --cUstOm-prOpErtY: 1 }
a { color: var(--custom-property, --custom-property) }
a { --custom-property: pink; @media { --custom-property: orange; } }
a { --custom-property: pink; @media { --custom-property: orange; &::before { --custom-property: black; } } }
a { --custom-property: pink; { &:hover { --custom-property: orange; --cUstOm-prOpErtY: black; } } }
a { --cUstOm-prOpErtY: pink; { &:hover { --custom-property: orange; --cUstOm-prOpErtY: black; } } }
a { color: red; color: pink;}
