<!-- this file is auto generated, use `cargo lintdoc` to update it -->
<<<<<<< HEAD
 <p>Biome's linter has a total of <strong><a href='/linter/rules'>188 rules</a></strong><p>
=======
 <p>Biome's linter has a total of <strong><a href='/linter/rules'>187 rules</a></strong><p>
>>>>>>> fd1d572be3 (chore: init rule)
