<h2>ESlint rules to Biome</h2>
<table>
	<thead>
		<tr>
			<th>ESLint Rule name</th>
			<th>Biome Rule name</th>
		</tr>
	</thead><tbody>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/constructor-super">constructor-super</a></td>
<td><a href=/linter/rules/"no-invalid-constructor-super">noInvalidConstructorSuper</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/curly">curly</a></td>
<td><a href=/linter/rules/"use-block-statements">useBlockStatements</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/default-case-last">default-case-last</a></td>
<td><a href=/linter/rules/"use-default-switch-clause-last">useDefaultSwitchClauseLast</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/default-param-last">default-param-last</a></td>
<td><a href=/linter/rules/"use-default-parameter-last">useDefaultParameterLast</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/dot-notation">dot-notation</a></td>
<td><a href=/linter/rules/"use-literal-keys">useLiteralKeys</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/eqeqeq">eqeqeq</a></td>
<td><a href=/linter/rules/"no-double-equals">noDoubleEquals</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/for-direction">for-direction</a></td>
<td><a href=/linter/rules/"use-valid-for-direction">useValidForDirection</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/getter-return">getter-return</a></td>
<td><a href=/linter/rules/"use-getter-return">useGetterReturn</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-async-promise-executor">no-async-promise-executor</a></td>
<td><a href=/linter/rules/"no-async-promise-executor">noAsyncPromiseExecutor</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-case-declarations">no-case-declarations</a></td>
<td><a href=/linter/rules/"no-switch-declarations">noSwitchDeclarations</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-class-assign">no-class-assign</a></td>
<td><a href=/linter/rules/"no-class-assign">noClassAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-compare-neg-zero">no-compare-neg-zero</a></td>
<td><a href=/linter/rules/"no-compare-neg-zero">noCompareNegZero</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-cond-assign">no-cond-assign</a></td>
<td><a href=/linter/rules/"no-assign-in-expressions">noAssignInExpressions</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-console">no-console</a></td>
<td><a href=/linter/rules/"no-console-log">noConsoleLog</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-const-assign">no-const-assign</a></td>
<td><a href=/linter/rules/"no-const-assign">noConstAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-constant-condition">no-constant-condition</a></td>
<td><a href=/linter/rules/"no-constant-condition">noConstantCondition</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-constructor-return">no-constructor-return</a></td>
<td><a href=/linter/rules/"no-constructor-return">noConstructorReturn</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-control-regex">no-control-regex</a></td>
<td><a href=/linter/rules/"no-control-characters-in-regex">noControlCharactersInRegex</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-debugger">no-debugger</a></td>
<td><a href=/linter/rules/"no-debugger">noDebugger</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-dupe-args">no-dupe-args</a></td>
<td><a href=/linter/rules/"no-duplicate-parameters">noDuplicateParameters</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-dupe-class-members">no-dupe-class-members</a></td>
<td><a href=/linter/rules/"no-duplicate-class-members">noDuplicateClassMembers</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-dupe-keys">no-dupe-keys</a></td>
<td><a href=/linter/rules/"no-duplicate-object-keys">noDuplicateObjectKeys</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-duplicate-case">no-duplicate-case</a></td>
<td><a href=/linter/rules/"no-duplicate-case">noDuplicateCase</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-else-return">no-else-return</a></td>
<td><a href=/linter/rules/"no-useless-else">noUselessElse</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-empty-character-class">no-empty-character-class</a></td>
<td><a href=/linter/rules/"no-empty-character-class-in-regex">noEmptyCharacterClassInRegex</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-empty-pattern">no-empty-pattern</a></td>
<td><a href=/linter/rules/"no-empty-pattern">noEmptyPattern</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-ex-assign">no-ex-assign</a></td>
<td><a href=/linter/rules/"no-catch-assign">noCatchAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-extra-boolean-cast">no-extra-boolean-cast</a></td>
<td><a href=/linter/rules/"no-extra-boolean-cast">noExtraBooleanCast</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-extra-label">no-extra-label</a></td>
<td><a href=/linter/rules/"no-useless-label">noUselessLabel</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-fallthrough">no-fallthrough</a></td>
<td><a href=/linter/rules/"no-fallthrough-switch-clause">noFallthroughSwitchClause</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-func-assign">no-func-assign</a></td>
<td><a href=/linter/rules/"no-function-assign">noFunctionAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-import-assign">no-import-assign</a></td>
<td><a href=/linter/rules/"no-import-assign">noImportAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-inner-declarations">no-inner-declarations</a></td>
<td><a href=/linter/rules/"no-inner-declarations">noInnerDeclarations</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-label-var">no-label-var</a></td>
<td><a href=/linter/rules/"no-label-var">noLabelVar</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-labels">no-labels</a></td>
<td><a href=/linter/rules/"no-confusing-labels">noConfusingLabels</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-lonely-if">no-lonely-if</a></td>
<td><a href=/linter/rules/"use-collapsed-else-if">useCollapsedElseIf</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-loss-of-precision">no-loss-of-precision</a></td>
<td><a href=/linter/rules/"no-precision-loss">noPrecisionLoss</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-negated-condition">no-negated-condition</a></td>
<td><a href=/linter/rules/"no-negation-else">noNegationElse</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-new-native-nonconstructor">no-new-native-nonconstructor</a></td>
<td><a href=/linter/rules/"no-invalid-new-builtin">noInvalidNewBuiltin</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-new-symbol">no-new-symbol</a></td>
<td><a href=/linter/rules/"no-new-symbol">noNewSymbol</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-nonoctal-decimal-escape">no-nonoctal-decimal-escape</a></td>
<td><a href=/linter/rules/"no-nonoctal-decimal-escape">noNonoctalDecimalEscape</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-obj-calls">no-obj-calls</a></td>
<td><a href=/linter/rules/"no-global-object-calls">noGlobalObjectCalls</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-param-reassign">no-param-reassign</a></td>
<td><a href=/linter/rules/"no-parameter-assign">noParameterAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-prototype-builtins">no-prototype-builtins</a></td>
<td><a href=/linter/rules/"no-prototype-builtins">noPrototypeBuiltins</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-regex-spaces">no-regex-spaces</a></td>
<td><a href=/linter/rules/"no-multiple-spaces-in-regular-expression-literals">noMultipleSpacesInRegularExpressionLiterals</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-restricted-globals">no-restricted-globals</a></td>
<td><a href=/linter/rules/"no-restricted-globals">noRestrictedGlobals</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-self-assign">no-self-assign</a></td>
<td><a href=/linter/rules/"no-self-assign">noSelfAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-self-compare">no-self-compare</a></td>
<td><a href=/linter/rules/"no-self-compare">noSelfCompare</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-sequences">no-sequences</a></td>
<td><a href=/linter/rules/"no-comma-operator">noCommaOperator</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-setter-return">no-setter-return</a></td>
<td><a href=/linter/rules/"no-setter-return">noSetterReturn</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-shadow-restricted-names">no-shadow-restricted-names</a></td>
<td><a href=/linter/rules/"no-shadow-restricted-names">noShadowRestrictedNames</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-sparse-array">no-sparse-array</a></td>
<td><a href=/linter/rules/"no-sparse-array">noSparseArray</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-this-before-super">no-this-before-super</a></td>
<td><a href=/linter/rules/"no-unreachable-super">noUnreachableSuper</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-undef">no-undef</a></td>
<td><a href=/linter/rules/"no-undeclared-variables">noUndeclaredVariables</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-unreachable">no-unreachable</a></td>
<td><a href=/linter/rules/"no-unreachable">noUnreachable</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-unsafe-finally">no-unsafe-finally</a></td>
<td><a href=/linter/rules/"no-unsafe-finally">noUnsafeFinally</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-unsafe-negation">no-unsafe-negation</a></td>
<td><a href=/linter/rules/"no-unsafe-negation">noUnsafeNegation</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-unsafe-optional-chaining">no-unsafe-optional-chaining</a></td>
<td><a href=/linter/rules/"no-unsafe-optional-chaining">noUnsafeOptionalChaining</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-unused-labels">no-unused-labels</a></td>
<td><a href=/linter/rules/"no-unused-labels">noUnusedLabels</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-unused-vars">no-unused-vars</a></td>
<td><a href=/linter/rules/"no-unused-variables">noUnusedVariables</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-useless-catch">no-useless-catch</a></td>
<td><a href=/linter/rules/"no-useless-catch">noUselessCatch</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-useless-rename">no-useless-rename</a></td>
<td><a href=/linter/rules/"no-useless-rename">noUselessRename</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-var">no-var</a></td>
<td><a href=/linter/rules/"no-var">noVar</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-void">no-void</a></td>
<td><a href=/linter/rules/"no-void">noVoid</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/no-with">no-with</a></td>
<td><a href=/linter/rules/"no-with">noWith</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/one-var">one-var</a></td>
<td><a href=/linter/rules/"use-single-var-declarator">useSingleVarDeclarator</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/operator-assignment">operator-assignment</a></td>
<td><a href=/linter/rules/"use-shorthand-assign">useShorthandAssign</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-arrow-callback">prefer-arrow-callback</a></td>
<td><a href=/linter/rules/"use-arrow-function">useArrowFunction</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-const">prefer-const</a></td>
<td><a href=/linter/rules/"use-const">useConst</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-exponentiation-operator">prefer-exponentiation-operator</a></td>
<td><a href=/linter/rules/"use-exponentiation-operator">useExponentiationOperator</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-numeric-literals">prefer-numeric-literals</a></td>
<td><a href=/linter/rules/"use-numeric-literals">useNumericLiterals</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-regex-literals">prefer-regex-literals</a></td>
<td><a href=/linter/rules/"use-regex-literals">useRegexLiterals</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-rest-params">prefer-rest-params</a></td>
<td><a href=/linter/rules/"no-arguments">noArguments</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/prefer-template">prefer-template</a></td>
<td><a href=/linter/rules/"use-template">useTemplate</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/require-yield">require-yield</a></td>
<td><a href=/linter/rules/"use-yield">useYield</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/use-isnan">use-isnan</a></td>
<td><a href=/linter/rules/"use-is-nan">useIsNan</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://eslint.org/docs/latest/rules/valid-typeof">valid-typeof</a></td>
<td><a href=/linter/rules/"use-valid-typeof">useValidTypeof</a></td>
</tr>
</tbody></table>
<h2><code>typescript-eslint</code> rules to Biome</h2>
<table>
	<thead>
		<tr>
			<th><code>typescript-eslint</code> Rule name</th>
			<th>Biome Rule name</th>
		</tr>
	</thead><tbody>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/array-type">array-type</a></td>
<td><a href=/linter/rules/"use-shorthand-array-type">useShorthandArrayType</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/ban-types">ban-types</a></td>
<td><a href=/linter/rules/"no-banned-types">noBannedTypes</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/naming-convention">naming-convention</a></td>
<td><a href=/linter/rules/"use-naming-convention">useNamingConvention</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-empty-interface">no-empty-interface</a></td>
<td><a href=/linter/rules/"no-empty-interface">noEmptyInterface</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-explicit-any">no-explicit-any</a></td>
<td><a href=/linter/rules/"no-explicit-any">noExplicitAny</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-extra-non-null-assertion">no-extra-non-null-assertion</a></td>
<td><a href=/linter/rules/"no-extra-non-null-assertion">noExtraNonNullAssertion</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-extraneous-class">no-extraneous-class</a></td>
<td><a href=/linter/rules/"no-static-only-class">noStaticOnlyClass</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-inferrable-types">no-inferrable-types</a></td>
<td><a href=/linter/rules/"no-inferrable-types">noInferrableTypes</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-invalid-void-type">no-invalid-void-type</a></td>
<td><a href=/linter/rules/"no-confusing-void-type">noConfusingVoidType</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-misused-new">no-misused-new</a></td>
<td><a href=/linter/rules/"no-misleading-instantiator">noMisleadingInstantiator</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-namespace">no-namespace</a></td>
<td><a href=/linter/rules/"no-namespace">noNamespace</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-non-null-assertion">no-non-null-assertion</a></td>
<td><a href=/linter/rules/"no-non-null-assertion">noNonNullAssertion</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-redeclare">no-redeclare</a></td>
<td><a href=/linter/rules/"no-redeclare">noRedeclare</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-this-alias">no-this-alias</a></td>
<td><a href=/linter/rules/"no-useless-this-alias">noUselessThisAlias</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-unnecessary-type-constraint">no-unnecessary-type-constraint</a></td>
<td><a href=/linter/rules/"no-useless-type-constraint">noUselessTypeConstraint</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-unsafe-declaration-merging">no-unsafe-declaration-merging</a></td>
<td><a href=/linter/rules/"no-unsafe-declaration-merging">noUnsafeDeclarationMerging</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-useless-constructor">no-useless-constructor</a></td>
<td><a href=/linter/rules/"no-useless-constructor">noUselessConstructor</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-useless-empty-export">no-useless-empty-export</a></td>
<td><a href=/linter/rules/"no-useless-empty-export">noUselessEmptyExport</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/no-useless-template-literals">no-useless-template-literals</a></td>
<td><a href=/linter/rules/"no-unused-template-literal">noUnusedTemplateLiteral</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/parameter-properties">parameter-properties</a></td>
<td><a href=/linter/rules/"no-parameter-properties">noParameterProperties</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/prefer-as-const">prefer-as-const</a></td>
<td><a href=/linter/rules/"use-as-const-assertion">useAsConstAssertion</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/prefer-enum-initializers">prefer-enum-initializers</a></td>
<td><a href=/linter/rules/"use-enum-initializers">useEnumInitializers</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/prefer-literal-enum-member">prefer-literal-enum-member</a></td>
<td><a href=/linter/rules/"use-literal-enum-members">useLiteralEnumMembers</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/prefer-namespace-keyword">prefer-namespace-keyword</a></td>
<td><a href=/linter/rules/"use-namespace-keyword">useNamespaceKeyword</a></td>
</tr>
<tr>
<td><a target="_blank" href="https://typescript-eslint.io/rules/prefer-optional-chain">prefer-optional-chain</a></td>
<td><a href=/linter/rules/"use-optional-chain">useOptionalChain</a></td>
</tr>
</tbody></table>
