<!-- should generate diagnostics -->
<a href="#" aria-checked="true"></a>
<a href="#" aria-checked></a>
<area href="#" aria-checked="true" />
<img alt="foobar" aria-checked="true" />
<menu type="toolbar" aria-checked="true"></menu>
<aside aria-checked="true"></aside>
<ul aria-expanded="true"></ul>
<details aria-expanded="true"></details>
<dialog aria-expanded="true"></dialog>
<aside aria-expanded="true"></aside>
<article aria-expanded="true"></article>
<li aria-expanded="true"></li>
<nav aria-expanded="true"></nav>
<ol aria-expanded="true"></ol>
<output aria-expanded="true"></output>
<tbody aria-expanded="true"></tbody>
<tfoot aria-expanded="true"></tfoot>
<thead aria-expanded="true"></thead>
<input type="radio" aria-selected="true" />
<menu type="toolbar" aria-expanded="true"></menu>
