.a {
	composes: ;
}

.otherClassName {
	composes: className from ;
}

.otherClassName {
	composes: globalClassName from ;
}

.otherClassName {
	composes:  from ;
}

.otherClassName {
	composes:  from global;
}
