[alias]
biome-cli             = "run -p biome_cli --release --"
biome-cli-dev         = "run -p biome_cli --"
codegen               = "run -p xtask_codegen --"
codegen-bindings      = "run -p xtask_codegen --features schema -- bindings"
codegen-configuration = "run -p xtask_codegen --features configuration -- configuration"
# updates a newly created crate
codegen-license = "run -p xtask_codegen --features license -- license"
codegen-migrate = "run -p xtask_codegen --features configuration -- migrate-eslint"
codegen-schema = "run -p xtask_codegen --features schema -- schema"
contributors = "run -p xtask_contributors --"
coverage = "run -p xtask_coverage --profile=release-with-debug --"
documentation = """
    doc \
    -p biome_*formatter \
    -p biome_control_flow \
    -p biome_analyze \
    -p biome_*analyze \
    -p biome_*_syntax \
    -p biome_*_factory \
    -p biome_diagnostics \
    -p biome_service \
    -p biome_cli \
    -p biome_console \
    -p biome_*parser \
    -p biome_text_edit \
    -p biome_text_size \
    -p biome_js_semantic \
    -p biome_markup \
    -p biome_rowan
    -p biome_string_case \
    -p biome_configuration \
    --no-deps
"""
format = "fmt --all --verbose"
lint = "clippy --workspace --all-targets -- --deny warnings"
new-crate = "run -p xtask_codegen -- new-crate"

[profile.release]
lto = true
