[alias]
bench_analyzer = "run -p xtask_bench --release -- --feature analyzer"
bench_formatter = "run -p xtask_bench --release -- --feature formatter"
bench_parser = "run -p xtask_bench --release -- --feature parser"
biome-cli = "run -p biome_cli --release --"
biome-cli-dev = "run -p biome_cli --"
codegen = "run -p xtask_codegen --"
codegen-bindings = "run -p xtask_codegen --features schema -- bindings"
codegen-configuration = "run -p xtask_codegen --features configuration -- configuration"
codegen-schema = "run -p xtask_codegen --features schema -- schema"
codegen-website = "run -p xtask_codegen --features website -- website"
contributors = "run -p xtask_contributors --"
coverage = "run -p xtask_coverage --profile=release-with-debug --"
documentation = """
    doc \
    -p rome_*formatter \
    -p biome_control_flow \
    -p biome_analyze \
    -p rome_*analyze \
    -p rome_*_syntax \
    -p rome_*_factory \
    -p biome_diagnostics \
    -p rome_service \
    -p biome_cli \
    -p biome_console \
    -p rome_*parser \
    -p biome_text_edit \
    -p biome_text_size \
    -p rome_js_semantic \
    -p biome_markup \
    -p biome_rowan
    --no-deps
"""
format = "fmt --all --verbose"
lint = "clippy --workspace --all-targets --verbose -- --deny warnings -W clippy::cargo -W clippy::dbg_macro -A clippy::cargo_common_metadata -A clippy::multiple_crate_versions"
lintdoc = "run -p xtask_lintdoc --"

[profile.release]
lto = true
