[package]
authors.workspace    = true
categories.workspace = true
description          = "SyntaxKind and common rowan definitions for biome_js_parser"
edition.workspace    = true
homepage.workspace   = true
keywords.workspace   = true
license.workspace    = true
name                 = "biome_js_syntax"
repository.workspace = true
version              = "0.5.7"

[dependencies]
biome_aria          = { workspace = true }
biome_aria_metadata = { workspace = true }
biome_rowan         = { workspace = true, features = ["serde"] }
biome_string_case   = { workspace = true }
camino              = { workspace = true }
enumflags2          = { workspace = true }
schemars            = { workspace = true, optional = true }
serde               = { workspace = true, features = ["derive"] }

[dev-dependencies]
biome_js_factory = { path = "../biome_js_factory" }
biome_js_parser  = { path = "../biome_js_parser" }

[features]
schema = ["schemars", "biome_rowan/serde"]

[lints]
workspace = true
