a { padding-left: 10px; padding: 20px; }

a { border-width: 20px; border: 1px solid black; }

a { border-color: red; border: 1px solid black; }

a { border-style: dotted; border: 1px solid black; }

a { border-image: url("foo.png"); border: 1px solid black; }

a { border-image-source: url("foo.png"); border: 1px solid black; }

a { pAdDiNg-lEfT: 10Px; pAdDiNg: 20Px; }

a { PADDING-LEFT: 10PX; PADDING: 20PX; }

a { border-top-width: 1px; top: 0; bottom: 3px; border: 2px solid blue; }

a { transition-property: opacity; transition: opacity 1s linear; }

a { background-repeat: no-repeat; background: url(lion.png); }

@media (color) { a { background-repeat: no-repeat; background: url(lion.png); }}

a { -webkit-transition-property: opacity; -webkit-transition: opacity 1s linear; }

a { -WEBKIT-transition-property: opacity; -webKIT-transition: opacity 1s linear; }

a { font-variant: small-caps; font: sans-serif; }

a { font-variant: all-small-caps; font: sans-serif; }

a { font-size-adjust: 0.545; font: Verdana; }

a { padding-left: 10px; padding: 20px; border-width: 20px; border: 1px solid black; }

a { padding-left: 10px; padding-right: 10px; padding: 20px; }
