.test{
  label:hover{color:red;}
  font:bold{color:blue;}
  font:12px{family:sans-serif;}
  font: bold{family:serif;}
  #{$name}:hover{color:green;}
  a:#{$pseudo}{color:teal;}
  font-#{$weight}:bold{color:purple;}
  font-#{$weight}::before{color:orange;}
}
