$button-config:
"save" 50px,
"cancel" 50px,
"help" 100px;

$simple-list:
"item-1",
"item-2",
"item-3";

$single-compound: hotpink deepskyblue firebrick,;

$inline-config: "save" 50px, "cancel" 50px, "help" 100px;

$buttonConfig: "save" 50px, 'cancel' 50px, "help" 100PX;
