[package]
name                 = "biome_rule_options"
version              = "0.0.1"
authors.workspace    = true
edition.workspace    = true
description          = "This crate is internally used to share lint rule options across analyzers"
homepage.workspace   = true
repository.workspace = true
license.workspace    = true
keywords.workspace   = true
categories.workspace = true
publish              = true

[dependencies]
biome_console            = { workspace = true }
biome_deserialize        = { workspace = true, features = ["smallvec"] }
biome_deserialize_macros = { workspace = true }
biome_diagnostics        = { workspace = true }
biome_glob               = { workspace = true, features = ["biome_deserialize", "serde"] }
biome_js_syntax          = { workspace = true }
biome_resolver           = { workspace = true }
biome_rowan              = { workspace = true }
biome_string_case        = { workspace = true, features = ["biome_rowan"] }
camino                   = { workspace = true }
enumflags2               = { workspace = true }
regex                    = { workspace = true }
rustc-hash               = { workspace = true }
schemars                 = { workspace = true, optional = true }
serde                    = { workspace = true }
serde_json               = { workspace = true, optional = true }
smallvec                 = { workspace = true }

[features]
schema = ["dep:schemars", "dep:serde_json"]

[lints]
workspace = true
