[package]
authors.workspace    = true
categories.workspace = true
description          = "This crate is internally used to share lint rule options across analyzers"
edition.workspace    = true
homepage.workspace   = true
keywords.workspace   = true
license.workspace    = true
name                 = "biome_rule_options"
publish              = true
repository.workspace = true
version              = "0.0.1"

[dependencies]
biome_console            = { workspace = true }
biome_deserialize        = { workspace = true, features = ["smallvec"] }
biome_deserialize_macros = { workspace = true }
biome_diagnostics        = { workspace = true }
biome_glob               = { workspace = true, features = ["biome_deserialize", "serde"] }
biome_js_syntax          = { workspace = true }
biome_resolver           = { workspace = true }
biome_rowan              = { workspace = true }
biome_string_case        = { workspace = true, features = ["biome_rowan"] }
camino                   = { workspace = true }
enumflags2               = { workspace = true }
regex                    = { workspace = true }
rustc-hash               = { workspace = true }
schemars                 = { workspace = true, optional = true }
serde                    = { workspace = true }
smallvec                 = { workspace = true }

[lints]
workspace = true


[features]
schema = ["dep:schemars"]
