.chat-image {
	grid-row: span 2 / span 2;
	align-self: flex-end
}

#grid {
	display: grid;
	grid-template-columns: [first nav-start] 150px [main-start] 1fr [last];
	grid-template-rows: [first header-start] 50px [main-start] 1fr [footer-start] 50px [last];
}
