/* Duplication of single selectors in a rule's selector list */
.alpha,
.beta,
.alpha {
    width: 12;
}

/* Duplication of selector lists within the style sheet */
/* Duplication is found even if the selectors have different ordering */
.foo .bar {
    width: 12;
}

.bar .foo {
    width: 12;
}

a .can,
b+.dle {
    width: 12;
}

b+.dle,
a .can {
    width: 12;
}

/* Duplication within @ rule */
@media (min-width: 10px) {
    .foo {
        width: 12;
    }

    .foo {
        width: 12;
    }
}

/* Duplication when the net result of nesting is the same */
a b {
    width: 12;
}

a {
    & b {
        width: 12;
    }
}