[package]
name                 = "biome_plugin_loader"
version              = "0.0.1"
authors.workspace    = true
edition.workspace    = true
description          = "Functionality for loading plugins and caching them in memory"
homepage.workspace   = true
repository.workspace = true
license.workspace    = true
keywords.workspace   = true
categories.workspace = true
publish              = true

[dependencies]
biome_analyze            = { workspace = true }
biome_console            = { workspace = true }
biome_css_syntax         = { workspace = true }
biome_deserialize        = { workspace = true, features = ["serde"] }
biome_deserialize_macros = { workspace = true }
biome_diagnostics        = { workspace = true }
biome_fs                 = { workspace = true }
biome_grit_patterns      = { workspace = true }
biome_js_runtime         = { workspace = true, optional = true }
biome_js_syntax          = { workspace = true }
biome_json_parser        = { workspace = true }
biome_json_syntax        = { workspace = true }
biome_parser             = { workspace = true }
biome_resolver           = { workspace = true }
biome_rowan              = { workspace = true }
biome_text_size          = { workspace = true }
boa_engine               = { workspace = true, optional = true }
camino                   = { workspace = true }
grit-pattern-matcher     = { workspace = true }
grit-util                = { workspace = true }
papaya                   = { workspace = true }
rustc-hash               = { workspace = true }
schemars                 = { workspace = true, optional = true }
serde                    = { workspace = true }

[dev-dependencies]
biome_js_parser = { workspace = true }
insta           = { workspace = true }

[target.'cfg(unix)'.dependencies]
libc = { workspace = true, optional = true }

[target.'cfg(windows)'.dependencies]
windows = { workspace = true, features = ["Win32_System_Threading"], optional = true }

[features]
default   = []
js_plugin = ["dep:biome_js_runtime", "dep:boa_engine", "dep:libc", "dep:windows"]
schema    = ["dep:schemars"]

[lints]
workspace = true
