
[package]
authors.workspace    = true
categories.workspace = true
description          = "biome_plugin_loader2"
edition.workspace    = true
homepage.workspace   = true
keywords.workspace   = true
license.workspace    = true
name                 = "biome_plugin_loader"
repository.workspace = true
version              = "0.0.1"

[dependencies]
biome_analyze            = { workspace = true }
biome_console            = { workspace = true }
biome_deserialize        = { workspace = true }
biome_deserialize_macros = { workspace = true }
biome_diagnostics        = { workspace = true }
biome_fs                 = { workspace = true }
biome_grit_patterns      = { workspace = true }
biome_json_parser        = { workspace = true }
biome_parser             = { workspace = true }
biome_rowan              = { workspace = true }
grit-pattern-matcher     = { workspace = true }
grit-util                = { workspace = true }
serde                    = { workspace = true }

[dev-dependencies]
insta = { workspace = true }

[lints]
workspace = true
