[package]
authors.workspace    = true
categories.workspace = true
description          = "Functionality for loading plugins and caching them in memory"
edition.workspace    = true
homepage.workspace   = true
keywords.workspace   = true
license.workspace    = true
name                 = "biome_plugin_loader"
publish              = true
repository.workspace = true
version              = "0.0.1"

[dependencies]
biome_analyze            = { workspace = true }
biome_console            = { workspace = true }
biome_css_syntax         = { workspace = true }
biome_deserialize        = { workspace = true }
biome_deserialize_macros = { workspace = true }
biome_diagnostics        = { workspace = true }
biome_fs                 = { workspace = true }
biome_grit_patterns      = { workspace = true }
biome_js_syntax          = { workspace = true }
biome_json_parser        = { workspace = true }
biome_parser             = { workspace = true }
biome_resolver           = { workspace = true }
biome_rowan              = { workspace = true }
biome_text_size          = { workspace = true }
camino                   = { workspace = true }
grit-pattern-matcher     = { workspace = true }
grit-util                = { workspace = true }
papaya                   = { workspace = true }
rustc-hash               = { workspace = true }
schemars                 = { workspace = true, optional = true }
serde                    = { workspace = true }

biome_js_runtime = { workspace = true, optional = true }
boa_engine       = { workspace = true, optional = true }

[target.'cfg(windows)'.dependencies]
windows = { workspace = true, optional = true, features = ["Win32_System_Threading"] }

[target.'cfg(unix)'.dependencies]
libc = { workspace = true, optional = true }

[dev-dependencies]
biome_js_parser = { workspace = true }
insta           = { workspace = true }

[lints]
workspace = true

[features]
default   = []
js_plugin = ["dep:biome_js_runtime", "dep:boa_engine", "dep:libc", "dep:windows"]
schema    = ["dep:schemars"]
