@function fibonacci($n) {
	$sequence: 0 1;

	@for $_ from 1 through $n {
		$new: nth($sequence, length($sequence)) + nth($sequence, length($sequence) - 1);
		$sequence: append($sequence, $new);
	}

	@return nth($sequence, length($sequence));
}

.sidebar {
	float: left;
	margin-left: fibonacci(4) * 1px;
}
