@error "this is an error";
@warn "this is an error";
@debug "this is an error";

@debug true and true; // true
@debug true and false; // false

@debug true or false; // true
@debug false or false; // false

@debug not true; // false
@debug not false; // true
