@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin horizontal-list {
	@include reset-list;

	li {
		display: inline-block;

		margin: {
			left: -2px;
			right: 2em;
		}
	}
}

nav ul {
	@include horizontal-list;
}
