.test {
	& {
		color: pink;
	}
	&& {
		color: pink;
	}
	& & {
		color: pink;
	}
	div {
		&&& {
			color: pink;
		}
		& && {
			color: pink;
		}
		&& & {
			color: pink;
		}
		& & & {
			color: pink;
		}
	}
}
