$block:button;
$modifier:primary;
$state:active;
.#{$block}--#{$modifier}{color:red}
.-#{$modifier}{color:blue}
.-text-#{$state}-{color:purple}
.#{$block}---#{$modifier}{color:orange}
.#{$block}--{color:green}
.#{$block}-- div{color:black}
.component{&--#{$state}{display:block}&#{$state}--{display:inline}&---{display:none}&--{visibility:hidden}&#{$state}-- div{display:grid}}
