@import "_variables";

.card {
    display: flex;
    flex-direction: row;

    overflow: hidden;
    background: #FFFFFF;
    margin-bottom: 24px;


    border-radius: 16px;
    border: 1px solid #D4D4D4;

    @media only screen and (max-width: 1120px) {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    @include mobile-only {
        flex-direction: column;
        border-left: none;
        border-right: none;
        height: auto;
        margin-bottom: 30px;


        .card-column {
            border-right: none !important;
            border-bottom: 1px solid #E9ECEF;
        }
    }

    @include dark-mode {
        background: darken(#282c34, 5%);
        border-color: #222;
    }

    pre {
        padding: 0;
    }

    .card-column {
        margin-top: 0;
        min-width: 100px;
        padding: 8px 24px 24px;
        flex-basis: 0px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        border-right: 1px solid #E9ECEF;

        @include dark-mode {
            border-color: var(--sl-border);
        }
    }

    code {
        color: #666;

        @include dark-mode {
            color: rgb(171, 178, 191);
        }
    }

    h4 {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
    }
}
