@import "_variables";

::-webkit-scrollbar {
    width: 7px;
    height: 7px;               
}

  
::-webkit-scrollbar-thumb {
    background-color: var(--sl-color-gray-4);   
    border-radius: 20px;
}