
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #60a5fa;
  --sl-color-accent-high: #182775;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
  --sl-perf-head: #f5f6f8;
  --sl-perf-border: #eceef2;
  --sl-perf: #f8f9fa;
  --sl-hue-blue: 210;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #3447ff;
  // --sl-color-accent-high: #f7b911;
  --sl-color-accent-high: #60a5fa;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-perf-head: #25272f;
  --sl-perf-border: #353841;
  --sl-perf: #1b1b1d;
  --sl-hue-blue: 234;
}

.grid {
  z-index: -1;
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(to right,var(--sl-color-gray-6) 1px,transparent 1px),linear-gradient(to bottom,var(--sl-color-gray-6) 1px,transparent 1px);
  background-position: top center;
  background-size: 20px 20px;
  -webkit-mask-image: radial-gradient(circle at 100%,white,transparent 80%);
  mask-image: radial-gradient(circle at 100%,white,transparent 80%);
}

.gradient {
position: absolute;
top: 0;
left: 0;
z-index: -1;
height: 100vh;
width: 100vw;
background: radial-gradient(var(--sl-color-accent-low),transparent 40%) no-repeat -60vw -50vh / 105vw 200vh,radial-gradient(var(--sl-color-accent-low),transparent 40%) no-repeat 30vw -100vh / 105vw 200vh;
}

.hero.astro-jbfsktt5 {
position: relative;
}
.hero.astro-jbfsktt5::before {
content: '';
display: block;
filter: blur(56px);
width: 400px;
height: 400px;
position: absolute;
right: 0;
top: 15%;
border-radius: 999px;
z-index: -10;
}

.astro-3yyafb3n {
display: none;
}

.hero {
padding-bottom: 0;
}

.expressive-code:nth-child(-n+2) {
margin-top: 0 !important;
}

.expressive-code:nth-child(-n+2)>figure>pre {
border: none;
padding: 20px;
}

.expressive-code:nth-child(-n+2) > figure > pre > code {
height: 400px !important;
overflow: scroll;
font-size: 12px;
}

.expressive-code:first-child > figure > pre {
border-bottom-left-radius: 15px;
}

.expressive-code:nth-child(-n+2) > figure > pre > code > .copy {
display: hidden;
}

starlight-tabs:first-child > div > ul, starlight-tabs:first-child > div > ul > li > a {
border-bottom: 2px solid transparent !important;
}

starlight-tabs:first-child > div > ul > li > a[aria-selected] {
border-bottom: 2px solid white !important;
}

.sl-flex {
border-radius: 5px;
}

.card-grid {
margin-top: 200px !important;
}

.card {
transition: all 0.5s ease;
position: relative;
overflow: hidden;
}

.card:hover {
box-shadow: 0px 11px 30px 60a5fa;
font-size: 1.24em;
border: 1px solid #60a5fa;
}

.card::before {
--size: 0;
content: '';
position: absolute;
left: var(--x);
top: var(--y);
width: calc(4 * var(--size));
height: calc(4 * var(--size));
background: radial-gradient(hsla(var(--sl-hue-blue),78%,62%,26%),transparent 40%);
transform: translate(-50%, -50%);
transition: width .2s ease, height .2s ease;
}

.card:hover::before {
--size: 15vw;
}

.connect>h3 {
visibility: hidden !important;
}
