@import "mixins";

.hero-code {
    margin-top: 7rem !important;
}

.head {
	text-align: center;
	@include desktop-only {
		font-size: 3.7rem;
	}
}

.perf {
    font-size: 3.1rem;
    text-align: center;
    margin-bottom: 9.3rem;
}

.bars {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 6.2rem;
}

.linter {
    border: 1px solid var(--sl-color-gray-5);
    background: var(--sl-color-gray-5);
    padding: 0 !important;
    gap: 1px;
    display: grid;
    grid-template-columns: repeat(3, 22.4rem);
    width: fit-content;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 2.5rem;
}

.format,
.lint {
    padding: 1.5rem;
}

.inp,
.out {
    margin: 0 !important;
}

.inp>span {
    background: var(--sl-color-gray-7);
    border-top-left-radius: 1rem;
}

.out>span {
    background: var(--sl-color-gray-7);
}

[data-theme='dark'] .inp>span,
[data-theme='dark'] .out>span {
    background-color: var(--sl-color-gray-6);
}

.perf-out {
    background: var(--sl-color-gray-6);
    margin: 0 !important;
}

.perf-out {
    border-top-right-radius: 1rem;
}

.inp>span,
.out>span,
.perf-out>span {
    display: flex;
    align-items: flex-end;
    height: 2.5rem;
    padding-left: 1.2rem;
    font-weight: bold;
}

.bench {
    padding-top: 3.1rem;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    background: var(--sl-color-gray-6);
    border-top-right-radius: 1rem;
}

.comp {
    font-size: 2.5rem;
    padding-left: 1.2rem;
    margin-top: 3.7rem;
    margin-bottom: -1.2rem;
}

.comp-des {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

@media only screen and (max-width: 1080px) {
    .linter {
        display: grid;
        grid-template-columns: repeat(3, 320px);
    }
}

@media only screen and (max-width: 970px) {
    .linter {
        grid-template-columns: repeat(3, 300px);
    }
}

@media only screen and (max-width: 960px) {
    .linter {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: calc(100vw - 2.4rem);
    }

    .perf-out {
        border-top-right-radius: 0rem;
        height: 355px;
    }

    .perf-comp {
        display: flex;
        flex-direction: column;
    }

    .bench-comp {
        display: flex;
        justify-content: center;
    }

    .bench {
        padding-top: 1.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .perf-comp {
        display: none;
    }
}

.grid {
    z-index: -1;
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(to right,
            var(--sl-color-gray-6) 0.06rem,
            transparent 0.06rem),
        linear-gradient(to bottom, var(--sl-color-gray-6) 0.06rem, transparent 0.06rem);
    background-position: top center;
    background-size: 1.3rem 1.3rem;
    -webkit-mask-image: radial-gradient(circle at 100%, white, transparent 80%);
    mask-image: radial-gradient(circle at 100%, white, transparent 80%);
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vmx;
    width: 100vw;
    background:
        radial-gradient(var(--sl-color-accent-low), transparent 50%) no-repeat -60vw -50vh / 105vw 200vh,
        radial-gradient(var(--sl-color-accent-low), transparent 50%) no-repeat 30vw -100vh / 105vw 200vh;
}
