@import "_variables";
@import "_mixins";

ul.package-manager-selector, .pre-header {
  display: flex;
  padding: 0;
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--sl-color-bg);
  background-color: var(--sl-color-bg-nav);
  border-bottom: none;
  line-height: 45px;

  @include mobile-only {
    border-radius: 0;
    margin: 0 -20px;
    padding: 0 10px;
  }

  &.pre-header {
    padding: 0 10px;

    code {
      background: none;
      padding: 0;
    }
  }
}

ul.package-manager-selector {
  li {
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      vertical-align: middle;
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }

    &.active {
      font-weight: bold;
      border-bottom: 2px solid black;

      @include dark-mode {
        border-color: white;
      }
    }
  }
}

pre.package-manager-command {
  $button-size: 20px;
  $button-bg-color: #1d2026;
  $icon-size: $button-size;
  $transition-duration: 0.3s;
  $icon-color: var(--sl-color-gray-4);
  $border-radius-reset: 0;
  $margin-top-reset: 0 !important;

  display: none;
  position: relative;

  &.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  + .pre-header, & {
    border-top-left-radius: $border-radius-reset;
    border-top-right-radius: $border-radius-reset;
    margin-top: $margin-top-reset;
  }

  button {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    min-width: $button-size;
    height: $button-size;
    width: $button-size;
    border: none;
    background-color: transparent;
    position: sticky;
    top: 50%;
    right: 0;
    box-shadow: 4px 12px 10px 21px $button-bg-color;
    background: $button-bg-color;

    @include mobile-only {
      margin-left: 20px;
    }

    #tick-icon, 
    #copy-icon {
      position: absolute;
      height: $icon-size;
      width: $icon-size;
      margin: 0;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity $transition-duration ease-in-out;
      stroke: $icon-color;
    }

    #tick-icon {
      opacity: 0;
      scale: 0;
    }

    &.copied {
      #copy-icon {
        opacity: 0;
        scale: 0;
      }

      #tick-icon {
        opacity: 1;
        scale: 1;
      }
    }
  }
}

