h3 {
  font-size: 1.25em;
  margin-top: 0;
  border: 0;

  .recommended {
    display: inline-block;
    border-radius: 5px;
    padding: .2em .5em .3em;
    background: var(--sl-color-accent-high);
    color: var(--sl-color-text-invert);
    margin: 0 16px;
    font-size: var(--sl-text-sm);
  }
}
