.sponsors {
	margin-top: 7rem;
	display: flex;
	flex-wrap: wrap;
	.sponsors-row {
		flex-grow: 1;
		width: 33%;
		img {
			height: 120px;
		}
	}
}

h2.sponsors-head {
    font-size: 3.7rem;
    text-align: center;
}
