$color-1: #E18403;
$color-2: #ED9F03;
$color-3: #F7B604;
$color-4: #f7b911; //logo color
$color-5: #FFDC1C;
$color-6: #FFF065;
$color-7: #FFFCB4;

$gray-1: darken(#27272A, 15%);
$gray-2: darken(#27272A, 10%);
$gray-3: darken(#27272A, 3%);
$gray-4: #27272A; //logo gray
$gray-5: lighten(#27272A, 25%);
$gray-6: lighten(#27272A, 45%);
$gray-7: lighten(#27272A, 70%);
$gray-8: lighten(#27272A, 80%);

$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$body-line-height: 1.5em;

$unit: 16px;
$unit-border-radius: 4px;

$mobile-breakpoint: 768px;


// CSS variables

:root,
::backdrop {
	--sl-border: var(--sl-color-gray-5);
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	--sl-border: var(--sl-color-gray-6);
}
