/* should not generate diagnostics */
:root {
  --theme-color: red;
}

$syntax: "<color>";
@property --registered-color {
  syntax: $syntax;
  inherits: false;
  initial-value: red;
}

$inherits: false;
@function initial-color() {
  @return red;
}

@property --dynamic-registration {
  syntax: "<color>";
  inherits: $inherits;
  initial-value: initial-color();
}

.themed {
  color: var(--theme-color);
  border-color: var(--registered-color);
  background-color: var(--dynamic-registration);
}
