/* should not generate diagnostics */
@import "foo.css";
@import "foo.css" layer;
@import "foo.css" layer(base);

@layer {
	p {
		color: red;
	}
}

@layer named {
	p {
		color: red;
	}
}

@layer named.something {
	p {
		color: red;
	}
}

@media (min-width: 600px) {
	@layer foo {
		a {
			color: bar
		}

		@layer bar {
			b {
				color: red;
			}
		}
	}
}
