$mapValueScalar:(key:(value),);
$mapValueList:(key:(#d82d2d,#666),other-key:(#52bf4a,#fff),);
$mapValueMap:(key:(other-key:other-other-value),);
$mapValueScalarBroken:(key:(very-very-very-very-very-very-very-very-very-very-very-very-very-long-scalar),);
$mapValueListBroken:(key:(very-very-very-very-very-very-long-list-item-1,very-very-very-very-very-very-long-list-item-2,very-very-very-very-very-very-long-list-item-3),);
$mapValueMapBroken:(key:((very-very-very-very-very-very-very-very-long-map-key:very-very-very-very-very-very-very-very-long-map-value,other-key:other-other-value)),);
