$compact:(("key":"value"):"hello world");
$longListKey:(("list","long long long long long long long long long long long long long list"):"hello world");
$longMapKey:(("key":"value","long long long long long long long long long long long long long map":"value",):"hello world");
$longPairs:(very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key:very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value,very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key:very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value,);
$mapValueScalar:(key:(value),);
$mapValueList:(key:(#d82d2d,#666),other-key:(#52bf4a,#fff),);
$mapValueMap:(key:(other-key:other-other-value),);
$nestedValueCall:(key:fn((a,b)),);
$nestedValueParen:(key:(fn((a,b))),);
$nestedValueMultiArg:(key:foo((a,b),(c,d)),);
$nestedMapInKey:(fn((a:b)):c,);
$beforeTrailingCommaComment:(a:b /* before */,);
$trailingBlockComment:(a:b,/* end */);
$mapValueScalarBroken:(key:(very-very-very-very-very-very-very-very-very-very-very-very-very-long-scalar),);
$mapValueListBroken:(key:(very-very-very-very-very-very-long-list-item-1,very-very-very-very-very-very-long-list-item-2,very-very-very-very-very-very-long-list-item-3),);
$mapValueMapBroken:(key:((very-very-very-very-very-very-very-very-long-map-key:very-very-very-very-very-very-very-very-long-map-value,other-key:other-other-value)),);
