/* should not generate diagnostics */

/* These should be valid because they're in the ignore list */
a::custom-pseudo-element { }
a::MyCustomPseudoElement { }
a::mycustompseudoelement { }
a::another-custom-pseudo-element { }