[package]
name                 = "biome_grit_parser"
version              = "0.1.0"
authors.workspace    = true
edition.workspace    = true
description          = "Biome's GritQL parser"
homepage.workspace   = true
repository.workspace = true
license.workspace    = true
keywords.workspace   = true
categories.workspace = true
publish              = true

# cargo-workspaces metadata
[package.metadata.workspaces]
independent = true

[dependencies]
biome_console      = { workspace = true }
biome_diagnostics  = { workspace = true }
biome_grit_factory = { workspace = true }
biome_grit_syntax  = { workspace = true }
biome_parser       = { workspace = true }
biome_rowan        = { workspace = true }
schemars           = { workspace = true, optional = true }
serde              = { workspace = true, features = ["derive"] }
serde_json         = { workspace = true }
smallvec           = { workspace = true }
tracing            = { workspace = true }
unicode-bom        = { workspace = true }

[dev-dependencies]
biome_test_utils  = { workspace = true }
insta             = { workspace = true }
quickcheck        = { workspace = true }
quickcheck_macros = { workspace = true }
tests_macros      = { workspace = true }

[features]
schemars = ["biome_grit_syntax/schema", "dep:schemars"]

[lints]
workspace = true
