@font-feature-values ident {  }

@font-feature-values 'ident' {  }

@font-feature-values ident {
	@styleset {
    nice-style: 12;
  }
}

@font-feature-values ident {
	@styleset {
    nice-style: 12;
  }
  @swash {
		pretty: 1;
	}
}

@font-feature-values ident {
	@historical-forms { }
	@character-variant { }
	@swash { }
	@ornaments { }
	@annotation { }
}


