@value
colors:
"./colors.css";
@value
primary,
secondary from
colors
;
@value
small
as
bp-small,
medium,
large as
bp-large from
"./breakpoints.css";
@value
selectorValue:
secondary-color;
@value
small:
(max-width:
599px);
@value
medium:
(min-width: 600px) and (max-width: 959px);
@value
large:
(min-width: 960px);
@value
primary:
#BF4040;
@value
secondary:
#1F4F7F;
@value
common-gradient:
transparent 75%,
var(--ring-line-color) 75%,
currentColor 79%;
