---
import { Card, CardGrid } from "@astrojs/starlight/components";
---

<div class="card-cnt">
  <CardGrid>
    <Card title="Fast" icon="rocket">
      Built with Rust and an innovative architecture inspired by rust-analyzer.
    </Card>
    <Card title="Simple" icon="pencil">
      Zero configuration needed to get started. Extensive options available for
      when you need them.
    </Card>
    <Card title="Scalable" icon="random">
      Designed to handle codebases of any size. Focus on growing product instead
      of your tools.
    </Card>
    <Card title="Optimized" icon="setting">
      With tight internal integration we are able to reuse previous work and any
      improvement to one tool improves them all.
    </Card>
    <Card title="Actionable & Informative" icon="information">
      Avoid obscure error messages, when we tell you something is wrong, we tell
      you exactly where the problem is and how to fix it.
    </Card>
    <Card title="Batteries Included" icon="add-document">
      Out of the box support for all the language features you use today. First
      class support for TypeScript and JSX.
    </Card>
  </CardGrid>
</div>

<script>
  import "../frontend-scripts/hover.ts";
</script>
