---
import vscode from "../assets/svg-new/vscode.svg";
import PackageManagerCommand from "@src/components/PackageManagerCommand.astro";
---

<div class="installation">
  <div class="ins-left">
    <div class="ins-head">Try Biome</div>
    <div class="ins-des">
      Install Biome using your preferred package manager or get it as a VS Code
      extension.
    </div>
    <a
      href="https://marketplace.visualstudio.com/items?itemName=biomejs.biome"
      class="vscode-ext"
    >
      <img src={vscode.src} alt="vscode-ext" />
       Get VS Code Extension
    </a>
    <PackageManagerCommand
      npm="install --save-dev --save-exact @biomejs/biome"
      pnpm="add --save-dev --save-exact @biomejs/biome"
      yarn="add --dev --exact @biomejs/biome"
      bun="add --dev --exact @biomejs/biome"
    />
  </div>

  <div class="ext-img"></div>
</div>

<style>
  .installation {
    position: relative;
    border: 1px solid var(--sl-color-gray-5);
    overflow: hidden;
    margin-top: 150px !important;
    width: 80vw;
    display: flex;
    gap: 40px;
    background:
      radial-gradient(hsla(var(--sl-hue-red), 68%, 52%, 16%), transparent 40%)
        no-repeat -60vw -50vh / 105vw 200vh,
      radial-gradient(var(--sl-color-blue-low), transparent 40%) no-repeat 30vw -100vh /
        105vw 200vh;
  }

  .ins-left {
    padding: 40px 40px 40px;
  }

  .ins-head {
    font-size: 50px;
    font-weight: bold;
  }

  .ins-des {
    max-width: 400px;
  }

  .vscode-ext {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: fit-content;
    border-radius: 100px;
    padding: 8px 21px;
    background-color: rgba(36, 173, 243, 0.1);
    cursor: pointer;
  }

  .ext-img {
    position: absolute;
    height: 410px;
    width: 485px;
    border-top-left-radius: 10px;
    background-repeat: no-repeat;
    background-image: url("../assets/svg-new/vscode-ext.png");
    background-size: 330%;
    right: -115px;
    bottom: -29px;
  }
</style>