<div class="not-content">
  <a href="https://www.netlify.com">
    <img
      src="https://www.netlify.com/v3/img/components/netlify-color-bg.svg"
      alt="Deploys by Netlify"
    />
  </a>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
</style>
