---
import InlineSVG from "@/components/InlineSVG.astro";
import { Code } from "@astrojs/starlight/components";
---

<script>
  import "@/frontend-scripts/package-manager-commands";
</script>

<ul class="package-manager-selector">
  <li data-name="npm" class="active">
    <InlineSVG src="npm" />
    <span>npm</span>
  </li>
  <li data-name="yarn">
    <InlineSVG src="yarn" />
    <span>yarn</span>
  </li>
  <li data-name="pnpm">
    <InlineSVG src="pnpm" />
    <span>pnpm</span>
  </li>
  <li data-name="bun">
    <InlineSVG src="bun" />
    <span>bun</span>
  </li>
</ul>


<pre data-name="npm" class="package-manager-command language-shellsession active">
  <Code code={`${Astro.props.npx ? "npx" : "npm"} ${Astro.props.npx ?? Astro.props.npm ?? Astro.props.command}`} lang="bash"  />
</pre>
<pre data-name="yarn" class="package-manager-command language-shellsession">
  <Code code={`yarn ${Astro.props.yarn ?? Astro.props.command}`} lang="bash"  />
</pre>
<pre data-name="pnpm" class="package-manager-command language-shellsession">
  <Code code={`pnpm ${Astro.props.pnpm ?? Astro.props.command}`} lang="bash"  />
</pre>
<pre data-name="bun" class="package-manager-command language-shellsession">
  <Code code={`bun${Astro.props.bun ? "" : "x"} ${Astro.props.bunx ?? Astro.props.bun ?? Astro.props.command}`} lang="bash"  />
</pre>