---
import Inputf from "@src/components/formatter/inputf.md";
import Outputf from "@src/components/formatter/outputf.md";
import ProgressBar from "../../src/playground/components/Progress.tsx";
---

<div class="hero-code">
  <div class="formatter">
    <div class="head">Biome is fast</div>
    <div class="linter format">
      <div class="inp"><span>CODE</span><Inputf /></div>
      <div class="out"><span>OUTPUT</span><Outputf /></div>
      <div class="perf-out">
        <span>PERFORMANCE</span>
        <div class="bench-comp">
          <div class="bench">
            <div>
              <ProgressBar client:visible duration={5} label="Biome" />
              <ProgressBar client:visible duration={10} label="Dprint" />
              <ProgressBar client:visible duration={20} label="Prettier" />
            </div>
          </div>
          <div class="perf-comp">
            <div class="comp">~25x</div>
            <div class="comp-des">
              Faster than Prettier when formatting 85,000 lines of code.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .hero-code {
    display: flex;
    justify-content: center;
    margin-top: 200px !important;
  }
  .formatter > .head {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
  }
  .perf {
    font-size: 50px;
    text-align: center;

    margin-bottom: 150px;
  }
  .card-grid {
    margin-top: 150px !important;
  }
  .bars {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
  }
  .linter {
    border: 1px solid var(--sl-perf-border);
    background: var(--sl-perf-border);
    padding: 0 !important;
    gap: 1px;
    display: grid;
    grid-template-columns: repeat(3, 375px);
    width: fit-content;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 40px;
  }

  .format,
  .lint {
    padding: 24px;
  }

  .inp,
  .out {
    margin: 0 !important;
  }

  .inp > span {
    color: #e63333;
    background: var(--sl-perf-head);
    border-top-left-radius: 15px;
  }

  .out > span {
    color: #6364ff;
    background: var(--sl-perf-head);
  }

  .perf-out {
    background: var(--sl-perf);
    margin: 0 !important;
  }

  .perf-out {
    border-top-right-radius: 15px;
  }

  .perf-out > span {
    color: rgb(10, 160, 10);
  }

  .inp > span,
  .out > span,
  .perf-out > span {
    display: flex;
    align-items: flex-end;
    height: 40px;
    padding-left: 20px;
  }

  .bench {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    background: var(--sl-perf);
    border-top-right-radius: 15px;
  }

  .comp {
    font-size: 40px;
    padding-left: 20px;
    margin-top: 60px;
    margin-bottom: -20px;
  }

  .comp-des {
    padding-left: 20px;
  }

  @media only screen and (max-width: 1080px) {
    .linter {
      display: grid;
      grid-template-columns: repeat(3, 320px);
    }
  }
  @media only screen and (max-width: 970px) {
    .linter {
      grid-template-columns: repeat(3, 300px);
    }
  }
  @media only screen and (max-width: 960px) {
    .linter {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: calc(100vw - 40px);
    }
    .perf-out {
      border-top-right-radius: 0px;
      height: 355px;
    }
    .bench-comp {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .bench {
      padding-top: 30px;
    }
  }
</style>
