---
import { Image } from "astro:assets";
const { title } = Astro.props;
---
<h2 class="head">{title}</h2>
<div class="sponsors">
	<a class="sponsors-row" href="https://shiguredo.jp/" rel="nofollow" title="Shiguredō">
		<Image
			alt="Shiguredō"
			src="https://shiguredo.jp/official_shiguredo_logo.svg"
			data-canonical-src="https://shiguredo.jp/official_shiguredo_logo.svg"
			width="320"
			height="100"
		/>
	</a>
</div>
