<div class="sponsors">
	<a class="sponsors-row" href="https://shiguredo.jp/" rel="nofollow">
		<img title="ShiguredÅ" src="https://shiguredo.jp/official_shiguredo_logo.svg" data-canonical-src="https://shiguredo.jp/official_shiguredo_logo.svg"  />
	</a>
</div>
