@container (foo(bar: baz)) {
  .a { color: red; }
}

@container (foo(bar: baz)) and (width > 100px) {
  .b { color: blue; }
}

@container (foo(url("a.svg" namespace.fn(test)))) {
  .c { color: green; }
}
