@each in $list {
  color: red;
}

@each $item $list {
  color: red;
}

@each $item in {
  color: red;
}

@each $key, in $map {
  color: red;
}

@each $item in , $list {
  color: red;
}

@each $item in puma,, sea-slug {
  color: red;
}
