---
// Astro valid cases - should NOT trigger the rule
---

<a href="/docs">Docs</a>
<a href="https://astro.build">Astro</a>
<a href="#footer">Footer</a>
<!-- Not an anchor tag -->
<p href="javascript:void(0)">Not a link</p>
