/* should generate diagnostics */
.size {
	width: 100%;
	min-width: 20rem;
	max-width: 80rem;
	height: 40vh;
	min-height: 12rem;
	max-height: 90vh;
}

.position {
	top: 0;
	right: 1rem;
	bottom: 2rem;
	left: 3rem;
}

.margin {
	margin-top: 1rem;
	margin-right: 2rem;
	margin-bottom: 3rem;
	margin-left: 4rem;
}

.padding {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
}