/* should generate diagnostics */
.size {
	width: 100%;
	min-width: 20rem;
	max-width: 80rem;
	height: 40vh;
	min-height: 12rem;
	max-height: 90vh;
}

.position {
	top: 0;
	right: 1rem;
	bottom: 2rem;
	left: 3rem;
}

.margin {
	margin-top: 1rem;
	margin-right: 2rem;
	margin-bottom: 3rem;
	margin-left: 4rem;
}

.padding {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.border {
	border-top: 1px solid red;
	border-top-color: red;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom: 3px dashed blue;
	border-bottom-color: blue;
	border-bottom-style: dashed;
	border-bottom-width: 4px;
	border-left: 5px dotted green;
	border-left-color: green;
	border-left-style: dotted;
	border-left-width: 6px;
	border-right: 7px double yellow;
	border-right-color: yellow;
	border-right-style: double;
	border-right-width: 8px;
}

.border-radius {
	border-top-left-radius: 4px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 16px;
}