[package]
edition = "2021"
name    = "xtask_bench"
publish = false
version = "0.0.0"

[dependencies]
biome_analyze        = { workspace = true }
biome_console        = { workspace = true }
biome_css_formatter  = { workspace = true }
biome_css_parser     = { workspace = true }
biome_css_syntax     = { workspace = true }
biome_diagnostics    = { workspace = true }
biome_formatter      = { workspace = true }
biome_js_analyze     = { workspace = true }
biome_js_formatter   = { workspace = true }
biome_js_parser      = { workspace = true }
biome_js_syntax      = { workspace = true }
biome_json_formatter = { workspace = true }
biome_json_parser    = { workspace = true }
biome_json_syntax    = { workspace = true }
biome_parser         = { workspace = true }
biome_rowan          = { workspace = true }


ansi_rgb                  = "0.2.0"
codspeed-criterion-compat = { version = "2.3.3", optional = true }
criterion                 = "0.5.1"
regex                     = "1.5.5"
ureq                      = "2.7.1"
url                       = "2.2.2"

countme = { workspace = true }

[target.'cfg(target_os = "windows")'.dependencies]
mimalloc = "0.1.29"

[target.'cfg(all(target_family="unix", not(all(target_arch = "aarch64", target_env = "musl"))))'.dependencies]
tikv-jemallocator = "0.5.0"

[features]
codspeed = ["codspeed-criterion-compat"]

[[bench]]
harness = false
name    = "analyzer"

# JavaScript benches
[[bench]]
harness = false
name    = "js_parser"

[[bench]]
harness = false
name    = "js_formatter"

# JSON benches
[[bench]]
harness = false
name    = "json_parser"

[[bench]]
harness = false
name    = "json_formatter"

# CSS benches
[[bench]]
harness = false
name    = "css_parser"

[[bench]]
harness = false
name    = "css_formatter"

[lints]
workspace = true
