[package]
edition = "2021"
name    = "xtask_bench"
publish = false
version = "0.0.0"

[dependencies]
biome_analyze        = { path = "../../crates/biome_analyze" }
biome_console        = { path = "../../crates/biome_console" }
biome_diagnostics    = { path = "../../crates/biome_diagnostics" }
biome_formatter      = { path = "../../crates/biome_formatter" }
biome_js_formatter   = { path = "../../crates/biome_js_formatter" }
biome_js_parser      = { path = "../../crates/biome_js_parser" }
biome_js_syntax      = { path = "../../crates/biome_js_syntax" }
biome_json_formatter = { path = "../../crates/biome_json_formatter" }
biome_json_parser    = { path = "../../crates/biome_json_parser" }
biome_json_syntax    = { path = "../../crates/biome_json_syntax" }
biome_parser         = { path = "../../crates/biome_parser" }
biome_rowan          = { path = "../../crates/biome_rowan" }
rome_js_analyze      = { path = "../../crates/rome_js_analyze" }
xtask                = { path = '../', version = "0.0" }


ansi_rgb  = "0.2.0"
criterion = "0.5.1"
itertools = "0.11.0"
pico-args = { version = "0.5.0", features = ["eq-separator"] }
regex     = "1.5.5"
timing    = "0.2.3"
ureq      = "2.7.1"
url       = "2.2.2"

countme = { workspace = true }

# dhat-on
dhat      = { version = "0.3.0", optional = true }
humansize = { version = "2.1.2", optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
mimalloc = "0.1.29"

[target.'cfg(not(windows))'.dependencies]
tikv-jemallocator = "0.5.0"

[features]
count     = ["countme/print_at_exit"]
dhat-heap = ["dhat", "humansize"]
