.a {
	composes: myClass;
}

.otherClassName {
	composes: className from "./style.css";
}

.otherClassName {
	composes: globalClassName from global;
}

.b {
	composes: classNameA classNameB;
}

.c {
	composes: classNameA classNameB from './module.css';
}
