[package]
authors.workspace    = true
categories.workspace = true
description          = "Biome's JavaScript formatter"
edition.workspace    = true
homepage.workspace   = true
keywords.workspace   = true
license.workspace    = true
name                 = "biome_js_formatter"
repository.workspace = true
version              = "0.5.7"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
biome_deserialize            = { workspace = true }
biome_deserialize_macros     = { workspace = true }
biome_diagnostics_categories = { workspace = true }
biome_formatter              = { workspace = true }
biome_js_factory             = { workspace = true }
biome_js_syntax              = { workspace = true }
biome_rowan                  = { workspace = true }
biome_suppression            = { workspace = true }
biome_text_size              = { workspace = true }
biome_unicode_table          = { workspace = true }
schemars                     = { workspace = true, optional = true }
serde                        = { workspace = true, features = ["derive"], optional = true }
smallvec                     = { workspace = true }
unicode-width                = "0.1.11"

[dev-dependencies]
biome_formatter_test = { path = "../biome_formatter_test" }
biome_js_factory     = { path = "../biome_js_factory" }
biome_js_parser      = { path = "../biome_js_parser" }
biome_parser         = { path = "../biome_parser" }
biome_service        = { path = "../biome_service" }
countme              = { workspace = true, features = ["enable"] }
iai                  = "0.1.1"
quickcheck           = { workspace = true }
quickcheck_macros    = { workspace = true }
serde                = { version = "1", features = ["derive"] }
serde_json           = { workspace = true }
tests_macros         = { path = "../tests_macros" }

[[bench]]
harness = false
name    = "iai"

[features]
serde = ["dep:serde", "schemars"]

# cargo-workspaces metadata
[package.metadata.workspaces]
independent = true

[lints]
workspace = true
