:is(ol, ul, menu:unsupported) :is(ol, ul) {
    color: green;
}

:is(ol, ul) :is(ol, ul) ol {
    list-style-type: lower-greek;
    color: chocolate;
}

:is(ol, ul, menu, dir) :is(ol, ul, menu, dir) :is(ul, menu, dir) {
  list-style-type: square;
}

h1 {
  font-size: 30px;
}

:is(section, article, aside, nav) h1 {
  font-size: 25px;
}

:is(section, article, aside, nav) :is(section, article, aside, nav) h1 {
  font-size: 20px;
}

some-element:is(::before, ::after) {
  display: block;
}