div:not(
    :last-child
    ) {
}

:not(
    div 
    
    +
     #id:hover
     
     ) {}

input:not(:where([type='submit'], [type='checkbox'], [type='radio'], [type='button'], [type='reset'])) {
	inline-size: 100%;
}
