custom-selector:state(checked) {}
custom-selector:state( checked) {}
custom-selector:state(    checked  ) {}
custom-selector:state(
checked
) {}

:host(
:state(      checked
))::before {  }
:host(:state(      checked
)
			)::before {  }
