.not-sorted-basic {
  color: red;
  display: block;
}

.multiple-properties {
  margin: 1px;
  transition:cubic-bezier(1, 0, 0, 1);
  color: red;
  display: block;
}

/* leading comment above rule */
.comments {
  /* leading for z-index */
  z-index: 1; /* trailing for z-index */
  /* leading for margin */
  margin: 1px; /* trailing for margin*/
} /* trailing comment after rule */

.oneline { color: red; display: block; }

.nested-rules {
  display: block;
  .nested {}
  color: red;
  .nested {}
  margin: 1px;
}

.at-rules {
  display: block;
  @media (min-width: 100px) {}
  color: red;
  @media (min-width: 100px) {}
  margin: 1px;
}

.mixed-rules {
  display: block;
  @media (min-width: 100px) {}
  color: red;
  .nested {}
  margin: 1px;
}

.vendor-prefixes {
  margin: 1px;
  -moz-margin: 1px;
  -webkit-margin: 1px;
}

.case-insensitive {
  color: red;
  DISPLAY: block;
}

.nested-with-content {
  .nested {
    color: red;
    display: block;
  }
}

.shorthand-after-longhand-not-ignored-if-different-vendor-prefix {
  padding: 5px;
  -webkit-padding-right: 10px;
  -moz-padding: 20px;
}

.example-from-doc-comment {
  transition: opacity 1s ease;
  border: 1px solid black;
  pointer-events: none;
  color: black;
  margin: 8px;
  display: block;
  --custom: 100;
}

.contain-intrinsic {
  contain-intrinsic-block-size: auto;
  contain-intrinsic-inline-size: auto;
  contain-intrinsic-size: auto;
  contain-intrinsic-width: 100px;
  contain-intrinsic-height: 50px;
}

.containment {
  container: gallery / inline-size;
  contain: layout;
  container-name: gallery;
  container-type: inline-size;
  content-visibility: auto;
}

.font-synthesis {
  font-synthesis-weight: none;
  font-synthesis: weight style;
  font-synthesis-style: normal;
  font-synthesis-small-caps: none;
}

.colors {
  override-colors: none;
  base-palette: #ffffff;
  font-palette: #555555;
  color: #000000;
}

.text {
  hyphenate-character: "\00AD";
  hyphens: auto;
  line-break: auto;
  word-break: break-word;
  text-wrap: pretty;
  text-wrap-mode: balance;
  text-wrap-style: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  tab-size: 4;
  white-space: normal;
  white-space-collapse: preserve;
}

.text-decoration {
  text-decoration-line: underline;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-skip-ink: auto;
}

.ruby {
  ruby-align: center;
  ruby-position: over;
}

.color-adjustment {
  forced-color-adjust: none;
  color-scheme: light dark;
  print-color-adjust: exact;
}

.masking {
  clip-path: inset(0);
  clip: rect(0 0 0 0);
  clip-rule: nonzero;
  mask: none;
  mask-type: luminance;
}

.shapes {
  shape-image-threshold: 0.5;
  shape-outside: circle(50% at 50% 50%);
  shape-margin: 10px;
}

.writing-modes {
  unicode-bidi: embed;
  direction: ltr;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  text-combine-upright: none;
}

.svg {
  marker-start: none;
  marker: none;
  marker-mid: none;
  marker-end: none;
  stop-color: #000000;
  stop-opacity: 1;
  paint-order: normal;
  shape-rendering: auto;
  text-rendering: auto;
}

.transforms {
  transform-origin: center center;
  transform: none;
  transform-box: border-box;
  transform-style: flat;
  rotate: 0deg;
  scale: 1;
  translate: 0 0;
  perspective: none;
  perspective-origin: 50% 50%;
  backface-visibility: visible;
}

.view-transitions {
  view-transition-class: none;
  view-transition-name: none;
}

.animations {
  animation-play-state: running;
  animation-fill-mode: both;
  animation-composition: replace;
}

.motion-path {
  offset-position: 0px 0px;
  offset: 0px;
  offset-path: none;
  offset-distance: 0%;
  offset-rotate: 0deg;
  offset-anchor: 50% 50%;
}
