.native{width:if(media(width>400px):calc(1px + 2px);else:0);height:if(supports(display:grid):1px;else:2px);color:if(style(--enabled:true):red;else:blue)}
.empty{color:if(style(--enabled:true):;else:blue);width:if(media(width>400px):/* empty */;else:);height:if(supports(display:grid):;)}
