@media (--umrel-breakpoints$-breakpoint) {}

@media only screen and width <= 500px {
	.left-block {
		width: 100%;
	}
}

@media only screen and (width 500px) {
.left-block {
	width: 100%;
}
}

@media only screen and (width => 500px) {
.left-block {
	width: 100%;
}
}
