name: Close issues

on:
  schedule:
    - cron: "0 0 * * *"


permissions:
  issues: write

jobs:
  close-issues:
    if: github.repository == 'biomejs/biome'
    runs-on: depot-ubuntu-24.04-arm-small
    steps:
      - name: Close issue without reproduction
        uses: actions-cool/issues-helper@d1d51fccf39469b5458203b1369060db0ff0c0db # v3.7.4
        with:
          actions: "close-issues"
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: "S-Needs repro"
          inactive-day: 3
          body: "This issue has been automatically closed because it has been inactive for more than 3 days and it does not have a minimal reproduction."
