name: Preview releases
on:
  workflow_dispatch:
  schedule:
    # This cron schedule runs the workflow at midnight (00:00) on Tuesdays and Saturdays.
    - cron: '0 0 * * 2,6'

env:
  CARGO_TERM_COLOR: always

jobs:
  version:
    name: Generate version
    runs-on: depot-ubuntu-24.04-arm
    outputs:
      version: ${{ env.version }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set version
        run: |
          echo "version=$(node packages/@biomejs/biome/scripts/update-preview-version.mjs)" >> $GITHUB_ENV

  build-binaries:
    needs: version
    strategy:
      matrix:
        include:
          - os: depot-windows-2022-16
            target: x86_64-pc-windows-msvc
            code-target: win32-x64
          - os: depot-windows-2022-16
            target: aarch64-pc-windows-msvc
            code-target: win32-arm64
          - os: depot-ubuntu-24.04-16
            target: x86_64-unknown-linux-musl
            code-target: linux-x64-musl
          - os: depot-ubuntu-24.04-arm-16
            target: aarch64-unknown-linux-musl
            code-target: linux-arm64-musl
          - os: depot-macos-14
            target: x86_64-apple-darwin
            code-target: darwin-x64
          - os: depot-macos-14
            target: aarch64-apple-darwin
            code-target: darwin-arm64

    name: Package ${{ matrix.code-target }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Rust toolchain
        run: rustup target add ${{ matrix.target }}

      - name: Install musl toolchain
        if: matrix.code-target == 'linux-x64-musl' || matrix.code-target == 'linux-arm64-musl'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: Install cargo-audit
        uses: taiki-e/install-action@288875dd3d64326724fa6d9593062d9f8ba0b131 # v2.67.30
        if: matrix.code-target == 'linux-x64-musl'
        with:
          tool: cargo-audit

      - name: Audit crates.io dependencies
        if: matrix.code-target == 'linux-x64-musl'
        run: cargo audit

      # Build the CLI binary
      - name: Build binaries
        run: cargo build -p biome_cli --release --target=${{ matrix.target }} --features=js_plugin
        env:
          # Strip all debug symbols from the resulting binaries
          RUSTFLAGS: "-C strip=symbols -C codegen-units=1"
          # Inline the version of the npm package in the CLI binary
          BIOME_VERSION: ${{ env.cli-version }}

      # Copy the CLI binary and rename it to include the name of the target platform
      - name: Copy CLI binary
        if: matrix.os == 'depot-windows-2022-16'
        run: |
          mkdir dist
          cp target/${{ matrix.target }}/release/biome.exe ./dist/biome-${{ matrix.code-target }}.exe
      - name: Copy CLI binary
        if: matrix.os != 'depot-windows-2022-16'
        run: |
          mkdir dist
          cp target/${{ matrix.target }}/release/biome ./dist/biome-${{ matrix.code-target }}

      # Upload the CLI binary as a build artifact
      - name: Upload CLI artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cli-${{ matrix.target }}
          path: ./dist/biome-*
          if-no-files-found: error

  # Build GNU/Linux binaries in Docker, using Debian 11 (bullseye), to support older versions of glibc.
  build-binaries-gnu:
    needs: version
    strategy:
      matrix:
        include:
          - os: depot-ubuntu-24.04-16
            target: x86_64-unknown-linux-gnu
            code-target: linux-x64
          - os: depot-ubuntu-24.04-arm-16
            target: aarch64-unknown-linux-gnu
            code-target: linux-arm64

    name: Package ${{ matrix.code-target }}
    runs-on: ${{ matrix.os }}
    container:
      image: rust:1.93.1-bullseye@sha256:70a5d01614c818b1d5ec069c96d58517cdfa84d8aa314b4c859503c43424a984

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set jemalloc page size for linux-arm64
        if: matrix.code-target == 'linux-arm64'
        run: |
          echo "JEMALLOC_SYS_WITH_LG_PAGE=16" >> $GITHUB_ENV

      # Build the CLI binary
      - name: Build binaries
        run: cargo build -p biome_cli --release --target=${{ matrix.target }} --features=js_plugin
        env:
          # Strip all debug symbols from the resulting binaries
          RUSTFLAGS: "-C strip=symbols -C codegen-units=1"
          # Inline the version of the npm package in the CLI binary
          BIOME_VERSION: ${{ env.cli-version }}

      # Copy the CLI binary and rename it to include the name of the target platform
      - name: Copy CLI binary
        run: |
          mkdir dist
          cp target/${{ matrix.target }}/release/biome ./dist/biome-${{ matrix.code-target }}

      # Upload the CLI binary as a build artifact
      - name: Upload CLI artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cli-${{ matrix.target }}
          path: ./dist/biome-*
          if-no-files-found: error

  build-wasm:
    name: Build WASM
    runs-on: depot-ubuntu-24.04-arm-16
    needs: version
    strategy:
      matrix:
        include:
          - target: wasm-bundler
            just-recipe: build-wasm-bundler
          - target: wasm-nodejs
            just-recipe: build-wasm-node
          - target: wasm-web
            just-recipe: build-wasm-web
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0

      - name: Install toolchain
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          bins: wasm-bindgen-cli@0.2.106, wasm-opt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build WASM module ${{ matrix.target }}
        run: just ${{ matrix.just-recipe }}

      - name: Upload WASM artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wasm-${{ matrix.target }}
          path: |
            ./packages/@biomejs/${{ matrix.target }}
          if-no-files-found: error

  publish:
    name: Publish
    runs-on: ubuntu-24.04 # Must be a GitHub hosted runner for provenance
    needs:
      - build-binaries
      - build-binaries-gnu
      - build-wasm
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download CLI artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: cli-*
          merge-multiple: true
      - name: Download WASM artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: wasm-*
          merge-multiple: true
          path: packages/@biomejs

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.13.1
          registry-url: 'https://registry.npmjs.org'

      - name: Pin Corepack 0.20
        run: |
          echo "Before: corepack => $(corepack --version || echo 'not installed')"
          npm install -g corepack@0.20
          echo "After : corepack => $(corepack --version)"
          corepack enable
          pnpm --version

      - name: Generate npm packages
        run: node packages/@biomejs/biome/scripts/generate-packages.mjs

      - name: Publish version
        run: |
          pnpx pkg-pr-new publish --compact \
          './packages/@biomejs/biome' \
          './packages/@biomejs/cli-*' \
          './packages/@biomejs/wasm-*' \
          --json output.json --comment=off

      - name: Read published version
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: version-msg
        with:
          script: |
            const fs = require('fs');
            const output = JSON.parse(fs.readFileSync('output.json', 'utf8'));
            const biomePackage = output.packages
              .find((p) => p.name === "@biomejs/biome");

            return "New preview release available for `@biomejs/biome`. Install it using the following command:\n ```bash\n npm i " + biomePackage.url + "\n```";

          result-encoding: string

      - name: Send Discord message
        uses: tsickert/discord-webhook@b217a69502f52803de774ded2b1ab7c282e99645 # v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_PREVIEW_RELEASES_HOOK }}
          content: ${{ steps.version-msg.outputs.result }}
