name: Publish to crates.io
on:
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: crate-publish
    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install toolchain
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          cache-base: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: cargo publish --workspace --token ${{ secrets.CRATES_IO_TOKEN }}
