name: publish_container_ci
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'ci/**'

jobs:
  publish-container:
    name: Publish Container
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Container
        run: ./ci/publish.sh