# Jobs run on pull request in js folders
name: Pull request JS
on:
  pull_request:
    branches:
      - main
    paths: # Only run when changes are made to js code
      - 'packages/@biomejs/**'
      - 'packages/aria-data/**'
      - 'packages/tailwindcss-config-analyzer/**'

# Cancel jobs when the PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  format-js:
    name: Check JS Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Free Disk Space
        uses: ./.github/actions/free-disk-space
      - name: Cache pnpm modules
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      - name: Run Biome CI check
        run: |
          pnpm i
          pnpm run ci
