# Jobs run on pull request for intellij
name: Pull request Intellij
on:
  workflow_dispatch: ~

jobs:
  test-ui:
    name: Test UI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            runIde: |
              export DISPLAY=:99.0
              Xvfb -ac :99 -screen 0 1920x1080x24 &
              sleep 10
              mkdir -p editors/intellij/build/reports
              ./gradlew :runIdeForUiTests > editors/intellij/build/reports/idea.log &
            runTests: |
              export DISPLAY=:99.0
              ./gradlew :test
            reportName: ui-test-fails-report-linux
          - os: windows-latest
            runIde: start gradlew.bat :runIdeForUiTests
            runTests: ./gradlew :test
            reportName: ui-test-fails-report-windows
          - os: macos-latest
            runIde: ./gradlew :runIdeForUiTests &
            runTests: ./gradlew :test
            reportName: ui-test-fails-report-mac

    steps:
      - name: Fetch Sources
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8

      - name: Install basic project fixture dependencies
        working-directory: editors/intellij/src/test/testData/basic-project
        run: pnpm i

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true

      - name: Run IDE
        working-directory: editors/intellij
        run: ${{ matrix.runIde }}

      # Wait for IDEA to be started
      - name: Health Check
        uses: jtalk/url-health-check-action@v3
        with:
          url: http://127.0.0.1:8082
          max-attempts: 15
          retry-delay: 30s

      - name: Run
        working-directory: editors/intellij
        run: ${{ matrix.runTests }}

      - name: Copy logs
        if: ${{ failure() }}
        run: mv editors/intellij/build/idea-sandbox/system/log/ editors/intellij/build/reports

      - name: Save fails report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.reportName }}
          path: |
            editors/intellij/build/reports
